openapi: 3.0.0
info:
  title: 'Billie - PaD API Documentation'
  description: |
    # Introduction
    
    The PaD API provides an easy way to integrate both client and server-side 
    with our __Billie Pay After Delivery (PaD)__ platform.
    
    _Billie PaD_ is a Business to Business (B2B) platform that enables you (the merchant) to accept invoice payments from
    other business customers without having to wait for the money to arrive, caring about reminding customers to pay,
    or taking over any credit risk.
    
    Based upon your contractual agreement with Billie, your customers will have 14, 30, 45, 60, 90 or 120 days (payment terms) 
    to pay your invoices while Billie will transfer the money to you immediately after shipment of product or fulfilment of
    service obligation.
    
    If customers get late with paying their outstanding invoices, Billie will also take over reminding customers on your behalf 
    (white label solution). In case of your customer's bankruptcy, Billie fully covers this default for you.
    
    ---
    
    ## Order States
    
    | State       | Description                                                                                   |
    |-------------|-----------------------------------------------------------------------------------------------|
    | waiting     | The order creation failed and needs a manual operation in order to be approved or declined    |
    | authorized  | The order is valid but it needs a confirmation from the merchant in order to be approved      |
    | created     | The order is successfully approved and Billie can offer financing for this transaction        |
    | declined    | The order was declined and no financing is offered for this transaction                       |
    | shipped     | The order was successfully shipped by the merchant                                            |
    | paid_out    | The outstanding amount for the respective order was successfully paid out to the merchant     |
    | late        | The payment of the outstanding amount is overdue                                              |
    | complete    | The outstanding amount was successfully paid back by the customer                             |
    | canceled    | The order was canceled by the merchant       
    
    ## Order State Transitions
    
    ![img](src/Resources/docs/orders-workflow-public.png)
    
    ## Order Decline Reasons
    
    An order could be declined by any of these reasons:
    
    | Reason                | Description                                               |
    |-----------------------|-----------------------------------------------------------|
    | debtor_address        | Debtor address or name mismatch                           |
    | debtor_not_identified | Debtor could not be identified with the information given |
    | risk_policy           | Risk decline                                              |
    | debtor_limit_exceeded | Financing limit of debtor currently exceeded              |
    
    
    ## Usage of Virtual IBANs
    
    Since the money gets paid out to the merchant directly after shipment of the product or delivery of the agreed service, 
    customers need to transfer the money directly to Billie when their invoice is due. Therefore Billie is using virtual IBANs 
    that are delivered back to the merchant as an answer of a API order creation request. Virtual IBANs are unique for each of 
    your debtor / customer. The virtual IBAN needs to be put on the invoice which the customer receives for the purchase.
    
  termsOfService: 'https://www.billie.io/agb/'
  license:
    name: '© Billie GmbH, 2019'
    url: 'https://www.billie.io/agb/'
  version: 2.9.0
  x-logo:
    url: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzJfS29waWUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIKCSB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0OC41IDY3LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4LjUgNjcuNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtkaXNwbGF5Om5vbmU7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDo3O3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDF7ZmlsbDojMUYyNTMwO30KCS5zdDJ7ZmlsbDpub25lO30KCS5zdDN7ZGlzcGxheTpub25lO2VuYWJsZS1iYWNrZ3JvdW5kOm5ldyAgICA7fQoJLnN0NHtmb250LWZhbWlseTonQXZlbmlyTmV4dC1EZW1pQm9sZCc7fQoJLnN0NXtmb250LXNpemU6My4wMzAzcHg7fQoJLnN0NntsZXR0ZXItc3BhY2luZzoyO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTkuOCw0Ni4xYy0wLjUsMCwyNS4xLTEyLjYsMjUuMS0zMi43YzAtNi45LTUuNi0xMi42LTEyLjYtMTIuNlM5LjcsNi41LDkuNywxMy40TDkuOCw0Ni4xaDE4LjUKCWM2LjksMCwxMi42LTUuNiwxMi42LTEyLjZTMzUuMiwyMSwyOC4yLDIxSDkuNyIvPgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0yOC4yLDQ3SDguOHYtMC44YzAtMC4xLDAtMC4yLDAtMC4zVjEzLjVDOC44LDYsMTQuOSwwLDIyLjMsMHMxMy41LDYsMTMuNSwxMy41YzAsMi44LTAuNSw1LjUtMS40LDguMgoJCWM0LjMsMi4yLDcuMyw2LjcsNy4zLDExLjlDNDEuNyw0MSwzNS42LDQ3LDI4LjIsNDd6IE0xMi45LDQ1LjJoMTUuM2M2LjQsMCwxMS43LTUuMywxMS43LTExLjdjMC00LjQtMi41LTguMy02LjEtMTAuMwoJCWMtMS44LDQuNC00LjgsOC43LTksMTIuOEMyMC40LDQwLjQsMTUuOCw0My41LDEyLjksNDUuMnogTTEwLjYsMjEuOXYyMi43YzEzLTcuNywxOC45LTE1LjYsMjEuNS0yMmMtMS4yLTAuNC0yLjUtMC43LTMuOS0wLjdIMTAuNgoJCXogTTEwLjYsMjAuMWgxNy42YzEuNiwwLDMuMSwwLjMsNC41LDAuOGMxLTIuOSwxLjMtNS41LDEuMy03LjRDMzQsNywyOC44LDEuOCwyMi4zLDEuOFMxMC42LDcsMTAuNiwxMy41VjIwLjF6Ii8+CjwvZz4KPHJlY3QgeD0iLTExLjEiIHk9Ii01OC43IiBjbGFzcz0ic3QyIiB3aWR0aD0iODUuNCIgaGVpZ2h0PSI0OS41Ii8+Cjx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIDEgLTEuMDQyNCA2Ny41NzcyKSIgY2xhc3M9InN0MyBzdDQgc3Q1IHN0NiI+QklMTElFPC90ZXh0Pgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0wLDU4LjFoMy43YzAuNCwwLDAuNywwLjEsMS4xLDAuMWMwLjQsMC4xLDAuNywwLjIsMC45LDAuNGMwLjMsMC4yLDAuNSwwLjQsMC43LDAuN2MwLjIsMC4zLDAuMywwLjcsMC4zLDEuMQoJCWMwLDAuNS0wLjIsMS0wLjUsMS4zYy0wLjMsMC40LTAuNywwLjYtMS4yLDAuOHYwYzAuNiwwLjEsMS4xLDAuMywxLjUsMC43QzYuOCw2My42LDcsNjQuMiw3LDY0LjhjMCwwLjUtMC4xLDEtMC4zLDEuMwoJCWMtMC4yLDAuNC0wLjUsMC42LTAuOCwwLjljLTAuMywwLjItMC43LDAuNC0xLjIsMC41Yy0wLjQsMC4xLTAuOSwwLjItMS4zLDAuMkgwQzAsNjcuNiwwLDU4LjEsMCw1OC4xeiBNMS43LDYyaDEuNQoJCWMwLjYsMCwxLTAuMSwxLjMtMC4zYzAuMy0wLjIsMC40LTAuNSwwLjQtMWMwLTAuNC0wLjItMC43LTAuNS0wLjljLTAuMy0wLjItMC44LTAuMy0xLjQtMC4zSDEuN0wxLjcsNjJMMS43LDYyeiBNMS43LDY2LjFoMS41CgkJYzAuMiwwLDAuNSwwLDAuNy0wLjFzMC41LTAuMSwwLjctMC4yYzAuMi0wLjEsMC40LTAuMywwLjUtMC40YzAuMS0wLjIsMC4yLTAuNCwwLjItMC44YzAtMC41LTAuMi0wLjktMC41LTEKCQljLTAuMy0wLjItMC45LTAuMy0xLjUtMC4zSDEuN1Y2Ni4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTExLjEsNTguMWgxLjd2OS41aC0xLjdWNTguMXoiLz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNy4zLDU4LjFoMS43djhoNHYxLjVoLTUuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTI2LjUsNTguMWgxLjd2OGg0djEuNWgtNS43TDI2LjUsNTguMUwyNi41LDU4LjF6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzUuNyw1OC4xaDEuN3Y5LjVoLTEuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTQxLjksNTguMWg2LjN2MS41aC00LjZWNjJINDh2MS40aC00LjNWNjZoNC44djEuNWgtNi41VjU4LjF6Ii8+CjwvZz4KPC9zdmc+Cg=='
    href: '#'
servers:
  -
    url: 'https://paella-sandbox.billie.io/api/v1'
    description: 'Test Sandbox API'
  -
    url: 'https://paella.billie.io/api/v1'
    description: 'Production API'
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: 'Request OAuth Token'
      description: |
        <!-- Grants documentation taken from: https://oauth2.thephpleague.com/ -->
        
        ### Flow
        
        The client sends a POST request with following body parameters to the authorization server:
        
        * `grant_type` with the value `client_credentials`
        * `client_id` with the client's ID
        * `client_secret` with the client's secret
        
        The authorization server will respond with a JSON object containing the following properties:
        
        * `token_type` with the value `Bearer`
        * `expires_in` with an integer representing the TTL (in seconds) of the access token (Default is 8 hours)
        * `access_token` a JWT signed with the authorization server's private key
        
        The `access_token` should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.
        
        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      operationId: oauth_token_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthClientCredentialsGrantRequestBodyParams'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthTokenResponseBody'
  /oauth/authorization:
    get:
      tags:
        - Authentication
      summary: 'Validate OAuth Token'
      description: |
        Validates the `Authorization: Bearer XXXX` OAuth 2.0 token header and returns a successful response
        with `client_id` and `user_id` or fails if it's invalid.
      operationId: oauth_token_validate
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                required:
                  - client_id
                  - scopes
                properties:
                  client_id: { $ref: '#/components/schemas/UUID' }
                  scopes: { type: array, items: { type: string }, default: [] }
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/ServerError'
  '/order/{id}/cancel':
    post:
      tags:
        - 'Order Management'
      summary: 'Cancel Order'
      description: 'This call initiates a full order cancellation.'
      operationId: order_cancel
      parameters:
        -
          name: id
          in: path
          description: 'Order ID or UUID'
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Order successfully cancelled'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/order/{id}/confirm-payment':
    post:
      tags:
        - 'Order Management'
      summary: 'Confirm Order Payment'
      description: |
        This endpoint needs to be called if a customer is accidentally paying the purchase amount 
        directly to the merchant. (See usage of virtual IBANs).
        
        As a consequence of sending this call, Billie will make a direct debit from the merchant 
        or net it against the potential outstanding payout amount of the very day. 
        Please mind that the order state will only be updated after Billie actually receives 
        the money of the confirmed payment.
      operationId: order_payment_confirm
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TinyText'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                paid_amount:
                  type: number
                  format: float
                  minimum: 0.1
              type: object
      responses:
        '204':
          description: 'Order payment successfully confirmed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /order:
    post:
      tags:
        - 'Order Creation'
      summary: 'Create Order'
      description: |
        Authorization of order financing requests.
        
        Provide with this endpoint relevant information about the customer and the respective purchase to understand if
        Billie can offer financing for this transaction.
        
        The decision whether or not Billie can accept a specific order is made on a single transaction basis.
        Therefore, orders need to be created to represent a specific transaction for the merchant.
      operationId: order_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: 'Order successfully created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /order/pre-approve:
    post:
      tags:
        - 'Order Pre-approval'
      summary: 'Pre-approve Order Create'
      operationId: pre_approve_create_order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: 'Order was created, but a confirmation is needed.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/order/{id}':
    get:
      tags:
        - 'Order Management'
      summary: 'Get Order Details'
      description: |
        Retrieves information about an order.
        
        Get relevant information about an order (e.g. in order to understand, if a specific order was already repaid 
        by your customer).
      operationId: order_get_details
      parameters:
        -
          name: id
          in: path
          description: 'Order external code or UUID'
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      responses:
        '200':
          description: 'Order details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
    patch:
      tags:
        - 'Order Management'
      summary: 'Update Order'
      description: |
        Updates an order if changes are necessary. 
        The following information can be updated until the order reached state complete:
        
        - order amount: decrease the order amount (mostly due to partial cancellations of a purchase), always possible 
          unless the order is already fully paid.
        - duration: extend timeframe for a payment. This changes the due date (§1).
        - invoice details like invoice number and document URL.
        
        
        §1 This call can also be used to move the due date into the future. This is possible from the moment the shipment is 
        confirmed until the last day before reaching the current due date.
        
        The new duration is to be set (i.e. initial request for 30 days, shipment on the 01.01., due date = 31.01., 
        update duration on 45 days, new due date = 15.02.).
      operationId: order_update
      parameters:
        -
          name: id
          in: path
          description: 'Order external code or UUID'
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '204':
          description: 'Order successfully updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/order/{uuid}/confirm':
    post:
      tags:
        - 'Order Pre-approval'
      summary: 'Pre-approve Order Confirm'
      operationId: order_pre_approve_confirmation
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      responses:
        '202':
          description: 'Order was confirmed and now it''s in state created.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/order/{id}/ship':
    post:
      tags:
        - 'Order Creation'
      summary: 'Ship Order'
      description: |
        Confirm that an order was shipped.
        
        Confirm the shipment of the product or delivery of the agreed service to receive the payout of the purchase amount.
      operationId: order_ship
      parameters:
        -
          name: id
          in: path
          description: 'Order external code or UUID'
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipOrderRequest'
      responses:
        '200':
          description: 'Order successfully shipped. Order details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
components:
  schemas:
    UUID:
      type: string
      format: uuid
      maxLength: 36
      minLength: 36
      example: 12345667-890a-bcde-f123-34567890abcd
    OrderState:
      title: 'Order State'
      type: string
      enum:
        - new
        - authorized
        - waiting
        - created
        - declined
        - shipped
        - paid_out
        - late
        - complete
        - canceled
        - pre_approved
      example: created
    OrderDeclineReason:
      title: 'Order Decline Reason'
      type: string
      enum:
        - risk_policy
        - debtor_not_identified
        - debtor_address
        - debtor_limit_exceeded
      example: debtor_not_identified
    OrderDunningStatus:
      title: 'Order Dunning Status'
      type: string
      enum:
        - not_started
        - active
        - paused
        - inactive
      example: active
      nullable: true
    OrderDuration:
      title: 'Order Duration'
      type: integer
      maximum: 120
      minimum: 1
      example: 30
    PostalCode:
      title: 'Postal Code'
      type: string
      maxLength: 5
      example: '10969'
    CountryCode:
      title: 'Country Code'
      type: string
      maxLength: 2
      pattern: '^[A-Za-z]{2}$'
      example: DE
    PhoneNumber:
      title: 'Phone Number'
      type: string
      maxLength: 20
      minLength: 5
      pattern: '^(\+|\d|\()[ \-\/0-9()]{5,20}$'
      example: '030 31199251'
    Date:
      title: Date
      type: string
      format: date
      example: '2019-01-20'
    DateTime:
      title: Date-Time
      type: string
      format: date-time
      example: '2019-01-20 14:00:00'
    TinyText:
      title: string
      type: string
      maxLength: 255
    URL:
      title: URL
      type: string
      format: url
      maxLength: 255
      example: 'https://example.com'
    OauthClientCredentialsGrantRequestBodyParams:
      title: 'Request OAuth Token'
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          const: client_credentials
        client_id:
          $ref: '#/components/schemas/UUID'
        client_secret:
          type: string
      type: object
    OauthTokenResponseBody:
      title: 'Request Oauth Token Response'
      properties:
        token_type:
          type: string
          example: Bearer
          nullable: false
        expires_in:
          description: 'TTL of the access token in seconds (Default is 8 hours)'
          type: integer
          nullable: false
        access_token:
          description: 'JWT signed with the authorization server''s private key'
          type: string
          nullable: false
      type: object
    CreateOrderRequest:
      title: 'Order Creation Request'
      required:
        - amount
        - duration
        - debtor_company
        - debtor_person
      properties:
        amount:
          $ref: '#/components/schemas/CreateOrderAmountRequest'
        comment:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        duration:
          $ref: '#/components/schemas/OrderDuration'
        order_id:
          description: 'Order external code'
          example: DE123456-1
          $ref: '#/components/schemas/TinyText'
        delivery_address:
          nullable: true
          $ref: '#/components/schemas/CreateOrderAddressRequest'
        billing_address:
          nullable: true
          $ref: '#/components/schemas/CreateOrderAddressRequest'
        debtor_company:
          $ref: '#/components/schemas/CreateOrderDebtorCompanyRequest'
        debtor_person:
          $ref: '#/components/schemas/CreateOrderDebtorPersonRequest'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineItemRequest'
          nullable: true
      type: object
    CreateOrderAddressRequest:
      title: Address
      required:
        - street
        - city
        - postal_code
        - country
      properties:
        addition:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        house_number:
          example: '4'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        street:
          example: 'Charlotten Str.'
          $ref: '#/components/schemas/TinyText'
        city:
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        postal_code:
          $ref: '#/components/schemas/PostalCode'
        country:
          $ref: '#/components/schemas/CountryCode'
      type: object
    CreateOrderAmountRequest:
      title: 'Order Amount'
      required:
        - net
        - gross
        - tax
      properties:
        net:
          type: number
          format: float
          minimum: 1
          example: 100
        gross:
          type: number
          format: float
          minimum: 1
          example: 119
        tax:
          type: number
          format: float
          minimum: 0
          example: 19
      type: object
    CreateOrderDebtorCompanyRequest:
      title: 'Debtor Company'
      required:
        - merchant_customer_id
        - name
        - legal_form
        - address_street
        - address_city
        - address_postal_code
        - address_country
      properties:
        merchant_customer_id:
          example: DE123456
          $ref: '#/components/schemas/TinyText'
        name:
          example: 'Billie GmbH'
          $ref: '#/components/schemas/TinyText'
        tax_id:
          example: DE1234556
          nullable: true
          $ref: '#/components/schemas/TinyText'
        tax_number:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        registration_court:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        registration_number:
          example: 'HRB 1234556'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        industry_sector:
          example: C
          $ref: '#/components/schemas/TinyText'
        subindustry_sector:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        employees_number:
          example: 1-5
          nullable: true
          $ref: '#/components/schemas/TinyText'
        legal_form:
          example: '10122'
          $ref: '#/components/schemas/TinyText'
        established_customer:
          type: boolean
          nullable: true
        address_addition:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        address_house_number:
          example: '4'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        address_street:
          example: Charlottenstr.
          $ref: '#/components/schemas/TinyText'
        address_city:
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        address_postal_code:
          $ref: '#/components/schemas/PostalCode'
        address_country:
          $ref: '#/components/schemas/CountryCode'
      type: object
    CreateOrderDebtorPersonRequest:
      title: 'Debtor Person'
      required:
        - gender
        - email
      properties:
        salutation:
          type: string
          maxLength: 1
          enum:
            - m
            - f
        first_name:
          example: James
          $ref: '#/components/schemas/TinyText'
        last_name:
          example: Smith
          $ref: '#/components/schemas/TinyText'
        phone_number:
          $ref: '#/components/schemas/PhoneNumber'
        email:
          type: string
          format: email
          example: james.smith@example.com
      type: object
    CreateOrderLineItemRequest:
      title: 'Order Line Item'
      required:
        - external_id
        - title
        - quantity
        - amount_gross
        - amount_tax
        - amount_net
      properties:
        external_id:
          $ref: '#/components/schemas/TinyText'
        title:
          $ref: '#/components/schemas/TinyText'
        description:
          type: string
          nullable: true
        quantity:
          type: number
          minimum: 1
        category:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        brand:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        gtin:
          description: 'Global Trade Item Number'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        mpn:
          description: 'Manufacturer Part Numbers'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        amount:
          $ref: '#/components/schemas/CreateOrderAmountRequest'
      type: object
    ShipOrderRequest:
      title: 'Order Shipping Object'
      properties:
        external_order_id:
          description: 'External Order ID. It should only be provided if it was not provided in the create order call.'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        invoice_number:
          $ref: '#/components/schemas/TinyText'
        invoice_url:
          $ref: '#/components/schemas/URL'
        shipping_document_url:
          $ref: '#/components/schemas/URL'
      type: object
    UpdateOrderRequest:
      title: 'Order Update Object'
      properties:
        duration:
          $ref: '#/components/schemas/OrderDuration'
        amount:
          $ref: '#/components/schemas/CreateOrderAmountRequest'
        invoice_number:
          $ref: '#/components/schemas/TinyText'
        invoice_url:
          $ref: '#/components/schemas/TinyText'
        order_id:
          description: 'Order external code'
          example: DE123456-1
          $ref: '#/components/schemas/TinyText'
      type: object
    OrderResponse:
      title: 'Order Entity'
      properties:
        order_id:
          type: string
          example: C-10123456789-0001
          nullable: true
        uuid:
          $ref: '#/components/schemas/UUID'
        state:
          example: created
          $ref: '#/components/schemas/OrderState'
        reasons:
          type: string
          enum:
            - risk_policy
            - debtor_not_identified
            - debtor_address
            - debtor_limit_exceeded
          nullable: true
          deprecated: true
        decline_reason:
          nullable: true
          $ref: '#/components/schemas/OrderDeclineReason'
        amount:
          type: number
          format: float
          example: 123.45
          nullable: false
        amount_tax:
          type: number
          format: float
          example: 123.45
          nullable: false
        amount_net:
          type: number
          format: float
          example: 123.45
          nullable: false
        duration:
          example: 30
          $ref: '#/components/schemas/OrderDuration'
        dunning_status:
          $ref: '#/components/schemas/OrderDunningStatus'
        debtor_company:
          description: 'Identified company'
          properties:
            name:
              example: 'Billie GmbH'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_house_number:
              example: '4'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_street:
              example: Charlottenstr.
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_postal_code:
              type: string
              maxLength: 5
              example: '10969'
              nullable: true
            address_city:
              example: Berlin
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_country:
              type: string
              maxLength: 2
              nullable: true
          type: object
        bank_account:
          properties:
            iban:
              description: 'Virtual IBAN provided by Billie'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            bic:
              nullable: true
              $ref: '#/components/schemas/TinyText'
          type: object
        invoice:
          properties:
            invoice_number:
              nullable: true
              $ref: '#/components/schemas/TinyText'
            payout_amount:
              type: number
              format: float
              nullable: true
            outstanding_amount:
              type: number
              format: float
              nullable: true
            fee_amount:
              type: number
              format: float
              nullable: true
            fee_rate:
              type: number
              format: float
              nullable: true
            due_date:
              type: string
              format: date
              example: '2019-03-20'
              nullable: true
          type: object
        debtor_external_data:
          description: 'Data provided in the order creation'
          properties:
            merchant_customer_id:
              example: C-10123456789
              $ref: '#/components/schemas/TinyText'
            name:
              example: 'Billie G.m.b.H.'
              $ref: '#/components/schemas/TinyText'
            address_country:
              type: string
              maxLength: 2
              example: DE
            address_city:
              example: Berlin
              $ref: '#/components/schemas/TinyText'
            address_postal_code:
              type: string
              maxLength: 5
              example: '10969'
            address_street:
              example: 'Charlotten Straße'
              $ref: '#/components/schemas/TinyText'
            address_house:
              example: '4'
              $ref: '#/components/schemas/TinyText'
            industry_sector:
              nullable: true
              $ref: '#/components/schemas/TinyText'
          type: object
        delivery_address:
          type: object
          $ref: '#/components/schemas/CreateOrderAddressRequest'
        billing_address:
          type: object
          $ref: '#/components/schemas/CreateOrderAddressRequest'
        created_at:
          $ref: '#/components/schemas/DateTime'
        shipped_at:
          $ref: '#/components/schemas/DateTime'
      type: object
    ErrorsObject:
      title: 'API Errors'
      properties:
        errors:
          type: array
          items:
            required:
              - title
              - code
            properties:
              title:
                description: 'Error message'
                type: string
              code:
                description: 'Error code'
                type: string
                nullable: true
              source:
                description: 'Property path where the error occurred, if applicable'
                type: string
                nullable: true
            type: object
      type: object
  responses:
    ServerError:
      description: 'Unexpected Server Error'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    NotFound:
      description: 'Resource Not Found'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Unauthorized:
      description: 'Unauthorized request or invalid credentials'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Forbidden:
      description: 'Forbidden Request. The operation cannot be completed.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    BadRequest:
      description: 'Invalid Request Data'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
  securitySchemes:
    oauth2:
      type: oauth2
      description: |
        This authentication mechanism is based on the OAuth 2.0 prototocol and requires a Client ID, a Client Secret Key and
        in some cases also a user and password.
        
        With these credentials, the client should request a token using the `POST /api/v1/oauth/token` endpoint,
        which should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.
        
        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      flows:
        password:
          tokenUrl: /oauth/token
          scopes:
            default: default
tags:
  -
    name: Authentication
    description: |
      For authentication and authorisation the API requires some requests to include valid API credentials via HTTP headers.
      Different keys are used for the `sandbox` and `production` environments, which are completely independent
      meaning that they cannot access or alter data from the other.
      
      To obtain your credentials for both environments please contact us or send an email to: pad@billie.io.
  -
    name: 'Order Creation'
  -
    name: 'Order Pre-approval'
  -
    name: 'Order Management'
  -
    name: Webhooks
    description: |
      ## Incoming Webhooks
      To send updates on relevant events, Billie PaD sends POST requests to the incoming webhook URL provided by the merchant.
      The following events can be communicated via webhooks:
      
      
      ### Webhook Authentication
      The authentication for webhooks sent from Billie to the merchants incoming webhook URL depends on the merchant specifications 
      and needs, but one possibility is sending the Billie API Key via headers:
      Examples:
       - `Authorization: Basic THE_API_KEY`
       - `X-Api-Key: THE_API_KEY`
       - `X-Another-Custom-Header: THE_API_KEY`
      
      The merchants will need to verify on their server side the authentication mechanism and credentials.
      
      ### Webhook Requests
      
      A `POST` request is sent to the configured merchant Webhook URL with one of the API Key headers mentioned above,
      the `application/json` Content-Type and the following body format:
      ```
      {
          event: (string) (event name, -check the following section for more details-)
          order_id: (string)
          amount: (string) (optional) (contains sum of paid amounts)
      	open amount: (string) (optional) (contains sum of outstanding amount)
          url_notification: (string) (optional)
      }
      ```
      
      ### Event Names
      
      **General**
      
      | Event Name      | Description                                                                                                                |
      |-----------------|----------------------------------------------------------------------------------------------------------------------------|
      | order\_approved | waiting order approved                                                                                                     |
      | order\_declined | waiting order declined                                                                                                     |
      | payment         | The outstanding amount for an order changed. <br><br> This message is sent for full as well as partial payments for orders |
      
      <br>
      
      **Webhooks for Dunning & Collections**
      
      | Event Name       | Description                              |
      |------------------|------------------------------------------|
      | reminder_email_1 | 1st Reminder mail was sent               |
      | dunning_letter_1 | 1st Dunning letter was sent              |
      | dunning_email_1  | 1st Dunning mail was sent                |
      | reminder_email_2 | 2nd Reminder mail was sent               |
      | dunning_letter_2 | 2nd Dunning letter was sent              |
      | reminder_email_2 | 2nd Dunning email was sent               |
      | dunning_email_2  | 2nd Dunning email was sent               |
      | reminder_email_3 | 3rd Reminder email was sent              |
      | dca_letter       | Debt collection handover letter was sent |
      | dca_email        | Debt collection handover email was sent  |
