openapi: 3.0.0
info:
  title: 'Billie - PaD API Documentation'
  description: |
    # Introduction
    
    The PaD API provides an easy way to integrate both client and server-side 
    with our __Billie Pay After Delivery (PaD)__ platform.
    
    _Billie PaD_ is a Business to Business (B2B) platform that enables you (the merchant) to accept invoice payments from
    other business customers without having to wait for the money to arrive, caring about reminding customers to pay,
    or taking over any credit risk.
    
    Based upon your contractual agreement with Billie, your customers will have 14, 30, 45, 60, 90 or 120 days (payment terms) 
    to pay your invoices while Billie will transfer the money to you immediately after shipment of product or fulfilment of
    service obligation.
    
    If customers get late with paying their outstanding invoices, Billie will also take over reminding customers on your behalf 
    (white label solution). In case of your customer's bankruptcy, Billie fully covers this default for you.
    
    
  termsOfService: 'https://www.billie.io/agb/'
  license:
    name: '© Billie GmbH, 2019'
    url: 'https://www.billie.io/agb/'
  version: 2.4.0
  x-logo:
    url: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzJfS29waWUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIKCSB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0OC41IDY3LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4LjUgNjcuNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtkaXNwbGF5Om5vbmU7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDo3O3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDF7ZmlsbDojMUYyNTMwO30KCS5zdDJ7ZmlsbDpub25lO30KCS5zdDN7ZGlzcGxheTpub25lO2VuYWJsZS1iYWNrZ3JvdW5kOm5ldyAgICA7fQoJLnN0NHtmb250LWZhbWlseTonQXZlbmlyTmV4dC1EZW1pQm9sZCc7fQoJLnN0NXtmb250LXNpemU6My4wMzAzcHg7fQoJLnN0NntsZXR0ZXItc3BhY2luZzoyO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTkuOCw0Ni4xYy0wLjUsMCwyNS4xLTEyLjYsMjUuMS0zMi43YzAtNi45LTUuNi0xMi42LTEyLjYtMTIuNlM5LjcsNi41LDkuNywxMy40TDkuOCw0Ni4xaDE4LjUKCWM2LjksMCwxMi42LTUuNiwxMi42LTEyLjZTMzUuMiwyMSwyOC4yLDIxSDkuNyIvPgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0yOC4yLDQ3SDguOHYtMC44YzAtMC4xLDAtMC4yLDAtMC4zVjEzLjVDOC44LDYsMTQuOSwwLDIyLjMsMHMxMy41LDYsMTMuNSwxMy41YzAsMi44LTAuNSw1LjUtMS40LDguMgoJCWM0LjMsMi4yLDcuMyw2LjcsNy4zLDExLjlDNDEuNyw0MSwzNS42LDQ3LDI4LjIsNDd6IE0xMi45LDQ1LjJoMTUuM2M2LjQsMCwxMS43LTUuMywxMS43LTExLjdjMC00LjQtMi41LTguMy02LjEtMTAuMwoJCWMtMS44LDQuNC00LjgsOC43LTksMTIuOEMyMC40LDQwLjQsMTUuOCw0My41LDEyLjksNDUuMnogTTEwLjYsMjEuOXYyMi43YzEzLTcuNywxOC45LTE1LjYsMjEuNS0yMmMtMS4yLTAuNC0yLjUtMC43LTMuOS0wLjdIMTAuNgoJCXogTTEwLjYsMjAuMWgxNy42YzEuNiwwLDMuMSwwLjMsNC41LDAuOGMxLTIuOSwxLjMtNS41LDEuMy03LjRDMzQsNywyOC44LDEuOCwyMi4zLDEuOFMxMC42LDcsMTAuNiwxMy41VjIwLjF6Ii8+CjwvZz4KPHJlY3QgeD0iLTExLjEiIHk9Ii01OC43IiBjbGFzcz0ic3QyIiB3aWR0aD0iODUuNCIgaGVpZ2h0PSI0OS41Ii8+Cjx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIDEgLTEuMDQyNCA2Ny41NzcyKSIgY2xhc3M9InN0MyBzdDQgc3Q1IHN0NiI+QklMTElFPC90ZXh0Pgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0wLDU4LjFoMy43YzAuNCwwLDAuNywwLjEsMS4xLDAuMWMwLjQsMC4xLDAuNywwLjIsMC45LDAuNGMwLjMsMC4yLDAuNSwwLjQsMC43LDAuN2MwLjIsMC4zLDAuMywwLjcsMC4zLDEuMQoJCWMwLDAuNS0wLjIsMS0wLjUsMS4zYy0wLjMsMC40LTAuNywwLjYtMS4yLDAuOHYwYzAuNiwwLjEsMS4xLDAuMywxLjUsMC43QzYuOCw2My42LDcsNjQuMiw3LDY0LjhjMCwwLjUtMC4xLDEtMC4zLDEuMwoJCWMtMC4yLDAuNC0wLjUsMC42LTAuOCwwLjljLTAuMywwLjItMC43LDAuNC0xLjIsMC41Yy0wLjQsMC4xLTAuOSwwLjItMS4zLDAuMkgwQzAsNjcuNiwwLDU4LjEsMCw1OC4xeiBNMS43LDYyaDEuNQoJCWMwLjYsMCwxLTAuMSwxLjMtMC4zYzAuMy0wLjIsMC40LTAuNSwwLjQtMWMwLTAuNC0wLjItMC43LTAuNS0wLjljLTAuMy0wLjItMC44LTAuMy0xLjQtMC4zSDEuN0wxLjcsNjJMMS43LDYyeiBNMS43LDY2LjFoMS41CgkJYzAuMiwwLDAuNSwwLDAuNy0wLjFzMC41LTAuMSwwLjctMC4yYzAuMi0wLjEsMC40LTAuMywwLjUtMC40YzAuMS0wLjIsMC4yLTAuNCwwLjItMC44YzAtMC41LTAuMi0wLjktMC41LTEKCQljLTAuMy0wLjItMC45LTAuMy0xLjUtMC4zSDEuN1Y2Ni4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTExLjEsNTguMWgxLjd2OS41aC0xLjdWNTguMXoiLz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNy4zLDU4LjFoMS43djhoNHYxLjVoLTUuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTI2LjUsNTguMWgxLjd2OGg0djEuNWgtNS43TDI2LjUsNTguMUwyNi41LDU4LjF6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzUuNyw1OC4xaDEuN3Y5LjVoLTEuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTQxLjksNTguMWg2LjN2MS41aC00LjZWNjJINDh2MS40aC00LjNWNjZoNC44djEuNWgtNi41VjU4LjF6Ii8+CjwvZz4KPC9zdmc+Cg=='
    href: '#'
servers:
  -
    url: 'https://paella-sandbox.billie.io/api/v1'
    description: 'Test Sandbox API'
  -
    url: 'https://paella.billie.io/api/v1'
    description: 'Production API'
paths:
  '/checkout-session/{sessionUuid}/authorize':
    put:
      tags:
        - 'Order Creation'
      summary: 'Checkout Session Authorize'
      description: 'Authorizes an existing checkout session, completing all missing order data.'
      operationId: checkout_session_authorize
      parameters:
        -
          name: sessionUuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: 'Order created with ''authorized'' state, but a merchant confirmation is needed.'
        '400':
          description: 'Invalid request data or order declined.'
          content:
            application/json:
              schema:
                title: 'Checkout Authorize Error'
                properties:
                  reasons: { description: 'Decline reasons', type: array, items: { $ref: '#/components/schemas/OrderDeclineReason' } }
                type: object
                allOf:
                  - { $ref: '#/components/schemas/ErrorsObject' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    UUID:
      type: string
      format: uuid
      maxLength: 36
      minLength: 36
      example: 12345667-890a-bcde-f123-34567890abcd
    OrderDeclineReason:
      title: 'Order Decline Reason'
      type: string
      enum:
        - risk_policy
        - debtor_not_identified
        - debtor_address
        - debtor_limit_exceeded
      example: debtor_not_identified
    OrderDuration:
      title: 'Order Duration'
      type: integer
      maximum: 120
      minimum: 1
      example: 30
    PostalCode:
      title: 'Postal Code'
      type: string
      maxLength: 5
      example: '10969'
    CountryCode:
      title: 'Country Code'
      type: string
      maxLength: 2
      pattern: '^[A-Za-z]{2}$'
      example: DE
    PhoneNumber:
      title: 'Phone Number'
      type: string
      maxLength: 2
      pattern: '^(\+|\d|\()[ \-\/0-9()]{5,20}$'
      example: '030 31199251'
    TinyText:
      title: string
      type: string
      maxLength: 255
    CreateOrderRequest:
      title: 'Order Creation Request'
      required:
        - amount
        - duration
        - delivery_address
        - debtor_company
        - debtor_person
      properties:
        amount:
          $ref: '#/components/schemas/CreateOrderAmountRequest'
        comment:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        duration:
          $ref: '#/components/schemas/OrderDuration'
        order_id:
          description: 'Order external code'
          example: DE123456-1
          $ref: '#/components/schemas/TinyText'
        delivery_address:
          $ref: '#/components/schemas/CreateOrderDeliveryAddressRequest'
        debtor_company:
          $ref: '#/components/schemas/CreateOrderDebtorCompanyRequest'
        debtor_person:
          $ref: '#/components/schemas/CreateOrderDebtorPersonRequest'
      type: object
    CreateOrderAmountRequest:
      title: 'Order Amount'
      required:
        - net
        - gross
        - tax
      properties:
        net:
          type: number
          format: float
          minimum: 1
          example: 119
        gross:
          type: number
          format: float
          minimum: 1
          example: 100
        tax:
          type: number
          format: float
          minimum: 1
          example: 19
      type: object
    CreateOrderDebtorCompanyRequest:
      title: 'Debtor Company'
      required:
        - merchant_customer_id
        - name
        - legal_form
        - address_street
        - address_city
        - address_postal_code
        - address_country
      properties:
        merchant_customer_id:
          example: DE123456
          $ref: '#/components/schemas/TinyText'
        name:
          example: 'Billie GmbH'
          $ref: '#/components/schemas/TinyText'
        tax_id:
          example: DE1234556
          nullable: true
          $ref: '#/components/schemas/TinyText'
        tax_number:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        registration_court:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        registration_number:
          example: 'HRB 1234556'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        industry_sector:
          example: C
          $ref: '#/components/schemas/TinyText'
        subindustry_sector:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        employees_number:
          example: 1-5
          nullable: true
          $ref: '#/components/schemas/TinyText'
        legal_form:
          example: '10122'
          $ref: '#/components/schemas/TinyText'
        established_costumer:
          type: boolean
          nullable: true
        address_addition:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        address_house_number:
          example: '4'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        address_street:
          example: Charlottenstr.
          $ref: '#/components/schemas/TinyText'
        address_city:
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        address_postal_code:
          $ref: '#/components/schemas/PostalCode'
        address_country:
          $ref: '#/components/schemas/CountryCode'
      type: object
    CreateOrderDebtorPersonRequest:
      title: 'Debtor Person'
      required:
        - gender
        - email
      properties:
        gender:
          type: string
          maxLength: 1
          enum:
            - m
            - f
        first_name:
          example: James
          $ref: '#/components/schemas/TinyText'
        last_name:
          example: Smith
          $ref: '#/components/schemas/TinyText'
        phone_number:
          $ref: '#/components/schemas/PhoneNumber'
        email:
          type: string
          format: email
          example: james.smith@example.com
      type: object
    CreateOrderDeliveryAddressRequest:
      title: 'Delivery Address'
      required:
        - street
        - city
        - postal_code
        - country
      properties:
        addition:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        house_number:
          example: '4'
          $ref: '#/components/schemas/TinyText'
        street:
          example: 'Charlotten Str.'
          $ref: '#/components/schemas/TinyText'
        city:
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        postal_code:
          $ref: '#/components/schemas/PostalCode'
        country:
          $ref: '#/components/schemas/CountryCode'
      type: object
    ErrorsObject:
      title: 'API Errors'
      properties:
        errors:
          type: array
          items:
            required:
              - title
              - code
            properties:
              title:
                description: 'Error message'
                type: string
              code:
                description: 'Error code'
                type: string
                nullable: true
              source:
                description: 'Property path where the error occurred, if applicable'
                type: string
                nullable: true
            type: object
      type: object
  responses:
    ServerError:
      description: 'Unexpected Server Error'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Unauthorized:
      description: 'Unauthorized request or invalid credentials'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
  securitySchemes:
    oauth2:
      type: oauth2
      description: |
        This authentication mechanism is based on the OAuth 2.0 prototocol and requires a Client ID, a Client Secret Key and
        in some cases also a user and password.
        
        With these credentials, the client should request a token using the `POST /api/v1/oauth/token` endpoint,
        which should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.
        
        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      flows:
        password:
          tokenUrl: /oauth/token
          scopes:
            default: default
tags:
  -
    name: 'Order Creation'
    description: |
      ## Order States
      
      | State       | Description                                                                                   |
      |-------------|-----------------------------------------------------------------------------------------------|
      | waiting     | The order creation failed and needs a manual operation in order to be approved or declined    |
      | authorized  | The order is valid but it needs a confirmation from the merchant in order to be approved      |
      | created     | The order is successfully approved and Billie can offer financing for this transaction        |
      | declined    | The order was declined and no financing is offered for this transaction                       |
      | shipped     | The order was successfully shipped by the merchant                                            |
      | paid_out    | The outstanding amount for the respective order was successfully paid out to the merchant     |
      | late        | The payment of the outstanding amount is overdue                                              |
      | complete    | The outstanding amount was successfully paid back by the customer                             |
      | canceled    | The order was canceled by the merchant       
      
      ## Order State Transitions
      
      ![img](src/Resources/docs/orders-workflow-public.png)
      
      ## Order Decline Reasons
      
      An order could be declined by any of these reasons:
      
      | Reason                | Description                                               |
      |-----------------------|-----------------------------------------------------------|
      | debtor_address        | Debtor address or name mismatch                           |
      | debtor_not_identified | Debtor could not be identified with the information given |
      | risk_policy           | Risk decline                                              |
      | debtor_limit_exceeded | Financing limit of debtor currently exceeded              |
      
      
      ## Usage of Virtual IBANs
      
      Since the money gets paid out to the merchant directly after shipment of the product or delivery of the agreed service, 
      customers need to transfer the money directly to Billie when their invoice is due. Therefore Billie is using virtual IBANs 
      that are delivered back to the merchant as an answer of a API order creation request. Virtual IBANs are unique for each of 
      your debtor / customer. The virtual IBAN needs to be put on the invoice which the customer receives for the purchase.
