openapi: 3.0.0
info:
  title: 'Billie Boost API Documentation'
  description: |
    # Introduction

    With PayAfterDelivery (PAD) / "Rechnungskauf" Billie offers a convenient, secure and simple way to allow your
    B2B-customers to pay on invoice. Our solution enables merchants to accept invoice payments from other business customers
    without waiting for their money, reminding customers about the payment, or assuming credit risk.

    The following documentation describes our RESTFul API, which allows easy integration into your web-shop, eCommerce
    platform or invoicing back-end.

    Based upon your Billie contract, your customers will have between 7 and 120 days (payment term) to pay your invoices,
    while Billie will transfer the money to you immediately after shipment of goods or fulfilment of service obligation. For
    outstanding payments, Billie takes over reminding customers on your behalf (white-label solution). Additionally, Billie
    protects you from credit risks by absorbing any potential debtor defaults.

    ---

    ## Order State Transitions

    ![img](src/Resources/docs/orders-workflow-public-v2.png)

    ## Order States

    | State             | Description                                                                                   |
    |---------------    |-----------------------------------------------------------------------------------------------|
    | waiting           | The order creation failed and needs a manual operation in order to be approved or declined    |
    | created           | The order is successfully approved and Billie can offer financing for this transaction        |
    | declined          | The order was declined and no financing is offered for this transaction                       |
    | partially_shipped | The order was partially shipped by the merchant
    | shipped           | The order was successfully shipped by the merchant                                            |
    | complete          | The outstanding amount was successfully paid back by the customer                             |
    | canceled          | The order was canceled by the merchant
    | pre_waiting       | The order was created via the checkout widget and needs manual operation.
    | authorized        | State of an order after creating it via the checkout widget. For approval, it needs merchant-side confirmation.    |

    ## Invoice States

    | State     | Description
    |-----------|---------------
    | New       | When new invoice is created.
    | Paid Out  | The amount for the respective invoice was successfully paid out to the merchant.
    | Late      | When the invoice is not paid back on time.
    | Canceled  | When the invoice was canceled by the merchant.
    | Complete  | The outstanding amount was successfully paid back by the customer.

    ## Order Decline Reasons

    An order could be declined by any of these reasons:

    | Reason                | Description                                               |
    |-----------------------|-----------------------------------------------------------|
    | debtor_address        | Debtor address or name mismatch                           |
    | debtor_not_identified | Debtor could not be identified with the information given |
    | risk_policy           | Risk decline                                              |
    | risk_scoring_failed   | Not enough data available to make a decision              |
    | debtor_limit_exceeded | Financing limit of debtor currently exceeded              |

    ## Usage of Virtual IBANs

    Since payouts by Billie to the merchant are made immediately after shipment of goods or delivery of the agreed service,
    customers need to pay back their invoices directly to Billie upon due date. Therefore, Billie is using so-called virtual
    IBANs (VIBANs). VIBANs are delivered back to the merchant as response to an (accepted) order creation request. VIBANs
    are unique for each of your debtor / customer. The VIBAN needs to be put on the invoice which the customer receives for
    the purchase.
  termsOfService: 'https://www.billie.io/agb/'
  license:
    name: '© Billie GmbH, 2020'
    url: 'https://www.billie.io/agb/'
  version: v2021.11
  x-logo:
    url: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzJfS29waWUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIKCSB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0OC41IDY3LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4LjUgNjcuNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtkaXNwbGF5Om5vbmU7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDo3O3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDF7ZmlsbDojMUYyNTMwO30KCS5zdDJ7ZmlsbDpub25lO30KCS5zdDN7ZGlzcGxheTpub25lO2VuYWJsZS1iYWNrZ3JvdW5kOm5ldyAgICA7fQoJLnN0NHtmb250LWZhbWlseTonQXZlbmlyTmV4dC1EZW1pQm9sZCc7fQoJLnN0NXtmb250LXNpemU6My4wMzAzcHg7fQoJLnN0NntsZXR0ZXItc3BhY2luZzoyO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTkuOCw0Ni4xYy0wLjUsMCwyNS4xLTEyLjYsMjUuMS0zMi43YzAtNi45LTUuNi0xMi42LTEyLjYtMTIuNlM5LjcsNi41LDkuNywxMy40TDkuOCw0Ni4xaDE4LjUKCWM2LjksMCwxMi42LTUuNiwxMi42LTEyLjZTMzUuMiwyMSwyOC4yLDIxSDkuNyIvPgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0yOC4yLDQ3SDguOHYtMC44YzAtMC4xLDAtMC4yLDAtMC4zVjEzLjVDOC44LDYsMTQuOSwwLDIyLjMsMHMxMy41LDYsMTMuNSwxMy41YzAsMi44LTAuNSw1LjUtMS40LDguMgoJCWM0LjMsMi4yLDcuMyw2LjcsNy4zLDExLjlDNDEuNyw0MSwzNS42LDQ3LDI4LjIsNDd6IE0xMi45LDQ1LjJoMTUuM2M2LjQsMCwxMS43LTUuMywxMS43LTExLjdjMC00LjQtMi41LTguMy02LjEtMTAuMwoJCWMtMS44LDQuNC00LjgsOC43LTksMTIuOEMyMC40LDQwLjQsMTUuOCw0My41LDEyLjksNDUuMnogTTEwLjYsMjEuOXYyMi43YzEzLTcuNywxOC45LTE1LjYsMjEuNS0yMmMtMS4yLTAuNC0yLjUtMC43LTMuOS0wLjdIMTAuNgoJCXogTTEwLjYsMjAuMWgxNy42YzEuNiwwLDMuMSwwLjMsNC41LDAuOGMxLTIuOSwxLjMtNS41LDEuMy03LjRDMzQsNywyOC44LDEuOCwyMi4zLDEuOFMxMC42LDcsMTAuNiwxMy41VjIwLjF6Ii8+CjwvZz4KPHJlY3QgeD0iLTExLjEiIHk9Ii01OC43IiBjbGFzcz0ic3QyIiB3aWR0aD0iODUuNCIgaGVpZ2h0PSI0OS41Ii8+Cjx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIDEgLTEuMDQyNCA2Ny41NzcyKSIgY2xhc3M9InN0MyBzdDQgc3Q1IHN0NiI+QklMTElFPC90ZXh0Pgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0wLDU4LjFoMy43YzAuNCwwLDAuNywwLjEsMS4xLDAuMWMwLjQsMC4xLDAuNywwLjIsMC45LDAuNGMwLjMsMC4yLDAuNSwwLjQsMC43LDAuN2MwLjIsMC4zLDAuMywwLjcsMC4zLDEuMQoJCWMwLDAuNS0wLjIsMS0wLjUsMS4zYy0wLjMsMC40LTAuNywwLjYtMS4yLDAuOHYwYzAuNiwwLjEsMS4xLDAuMywxLjUsMC43QzYuOCw2My42LDcsNjQuMiw3LDY0LjhjMCwwLjUtMC4xLDEtMC4zLDEuMwoJCWMtMC4yLDAuNC0wLjUsMC42LTAuOCwwLjljLTAuMywwLjItMC43LDAuNC0xLjIsMC41Yy0wLjQsMC4xLTAuOSwwLjItMS4zLDAuMkgwQzAsNjcuNiwwLDU4LjEsMCw1OC4xeiBNMS43LDYyaDEuNQoJCWMwLjYsMCwxLTAuMSwxLjMtMC4zYzAuMy0wLjIsMC40LTAuNSwwLjQtMWMwLTAuNC0wLjItMC43LTAuNS0wLjljLTAuMy0wLjItMC44LTAuMy0xLjQtMC4zSDEuN0wxLjcsNjJMMS43LDYyeiBNMS43LDY2LjFoMS41CgkJYzAuMiwwLDAuNSwwLDAuNy0wLjFzMC41LTAuMSwwLjctMC4yYzAuMi0wLjEsMC40LTAuMywwLjUtMC40YzAuMS0wLjIsMC4yLTAuNCwwLjItMC44YzAtMC41LTAuMi0wLjktMC41LTEKCQljLTAuMy0wLjItMC45LTAuMy0xLjUtMC4zSDEuN1Y2Ni4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTExLjEsNTguMWgxLjd2OS41aC0xLjdWNTguMXoiLz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNy4zLDU4LjFoMS43djhoNHYxLjVoLTUuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTI2LjUsNTguMWgxLjd2OGg0djEuNWgtNS43TDI2LjUsNTguMUwyNi41LDU4LjF6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzUuNyw1OC4xaDEuN3Y5LjVoLTEuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTQxLjksNTguMWg2LjN2MS41aC00LjZWNjJINDh2MS40aC00LjNWNjZoNC44djEuNWgtNi41VjU4LjF6Ii8+CjwvZz4KPC9zdmc+Cg=='
    href: '#'
servers:
  -
    url: 'https://paella-sandbox.billie.io/api/v2'
    description: 'Test Sandbox API'
  -
    url: 'https://paella.billie.io/api/v2'
    description: 'Production API'
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: 'Request OAuth Token'
      description: |-
        <!-- Grants documentation taken from: https://oauth2.thephpleague.com/ -->

        ### Flow

        The client sends a POST request with following body parameters to the authorization server:

        * `grant_type` with the value `client_credentials`
        * `client_id` with the client's ID
        * `client_secret` with the client's secret

        The authorization server will respond with a JSON object containing the following properties:

        * `token_type` with the value `Bearer`
        * `expires_in` with an integer representing the TTL (in seconds) of the access token (Default is 8 hours)
        * `access_token` a JWT signed with the authorization server's private key

        The `access_token` should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.

        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      operationId: oauth_token_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthClientCredentialsGrantRequestBodyParams'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthTokenResponseBody'
  /oauth/authorization:
    get:
      tags:
        - Authentication
      summary: 'Validate OAuth Token'
      description: |-
        Validates the `Authorization: Bearer XXXX` OAuth 2.0 token header and returns a successful response
        with `client_id` and `user_id` or fails if it's invalid.
      operationId: oauth_token_validate
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                required:
                  - client_id
                  - scopes
                properties:
                  client_id: { $ref: '#/components/schemas/UUID' }
                  scopes: { type: array, items: { type: string }, default: [] }
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/ServerError'
  /orders:
    post:
      tags:
        - 'Back-end Order Creation'
      summary: 'Create Order'
      operationId: order_create_V2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: 'Order successfully created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/invoices/{uuid}':
    get:
      tags:
        - Invoices
      summary: 'Get Invoice'
      operationId: get_invoice
      parameters:
        -
          name: uuid
          in: path
          description: 'Get Invoice with Uuid'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Invoice Response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Invoices
      summary: 'Cancel Invoice'
      operationId: invoice_cancel_v2
      parameters:
        -
          name: uuid
          in: path
          description: 'Invoice UUID'
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '204':
          description: 'Invoice successfully cancelled'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /legal-forms:
    get:
      tags:
        - 'Back-end Order Creation'
      summary: 'Get Legal Forms'
      operationId: get_legal_forms
      responses:
        '200':
          description: 'List of supported legal forms'
          content:
            application/json:
              schema:
                properties:
                  items: { type: array, items: { properties: { code: { description: 'Legal form code', type: integer, example: '90101' }, name: { description: 'Legal form name', type: string, example: 'AG & Co. KG', nullable: true }, required_input: { description: 'Required input (HR-NR => Registration Number, Ust-ID => Registration ID)', type: string, example: HR-NR }, required: { description: Required, type: boolean } }, type: object } }
                type: object
        '500':
          $ref: '#/components/responses/ServerError'
      security: []
  '/orders/{id}/cancel':
    post:
      tags:
        - 'Order Management'
      summary: 'Cancel Order'
      operationId: order_cancel_v2
      parameters:
        -
          name: id
          in: path
          description: 'Order ID or UUID'
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Order successfully cancelled'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/checkout-sessions/{sessionUuid}/confirm':
    put:
      tags:
        - 'Checkout Server'
      summary: 'Checkout Session Confirm'
      description: 'Confirms the creation of an existing checkout session.'
      operationId: checkout_session_confirm
      parameters:
        -
          name: sessionUuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutConfirmOrderRequest'
      responses:
        '202':
          description: 'Order data successfully confirmed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /checkout-sessions:
    post:
      tags:
        - 'Checkout Server'
      summary: 'Checkout Session Create'
      operationId: checkout_session_create_v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                merchant_customer_id:
                  description: 'Debtor ID in the merchant system.'
                  $ref: '#/components/schemas/TinyText'
              type: object
      responses:
        '200':
          description: 'Checkout session created.'
          content:
            application/json:
              schema:
                required:
                  - id
                properties:
                  id: { description: 'Checkout Session Token', $ref: '#/components/schemas/UUID' }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/invoices/{uuid}/confirm-payment':
    post:
      tags:
        - Invoices
      summary: 'Confirm Invoice Payment'
      description: 'Confirms that the debtor paid the given amount of this invoice directly to the merchant.'
      operationId: invoice_payment_confirm
      parameters:
        -
          name: uuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - paid_amount
              properties:
                paid_amount:
                  description: 'The amount paid to the merchant from debtor.'
                  type: number
                  format: float
                  minimum: 0.1
                  nullable: false
              type: object
      responses:
        '204':
          description: 'Invoice payment successfully confirmed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/invoices/{uuid}/credit-notes':
    post:
      tags:
        - Invoices
      summary: 'Create Credit Note'
      operationId: create_credit_note
      parameters:
        -
          name: uuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreditNoteRequest'
      responses:
        '201':
          description: 'Credit note successfully created'
          content:
            application/json:
              schema:
                required:
                  - uuid
                properties:
                  uuid: { $ref: '#/components/schemas/UUID' }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /invoices:
    post:
      tags:
        - Invoices
      summary: 'Create Invoice'
      description: |-
        Create an invoice for the order. It can be either a partial activation or a full activation.

        > Example: If you plan to ship multiple items of an order from different warehouses at different dates to one client, you can create an invoice for each of these partial shipments by specifying the amount of each shipment (invoice).

        Please specify the order which is being shipped in the `orders` property. Collective invoices are not yet supported, so only one order uuid or external code can be provided.
      operationId: invoice_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: 'Invoice successfully created'
          content:
            application/json:
              schema:
                required:
                  - uuid
                properties:
                  uuid: { $ref: '#/components/schemas/UUID' }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/invoices/{uuid}/extend-duration':
    post:
      tags:
        - Invoices
      summary: 'Extend Invoice duration'
      operationId: extend_invoice_duration
      parameters:
        -
          name: uuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - duration
              properties:
                duration:
                  description: 'The number of days which the invoice is due to be paid.'
                  example: '45'
                  $ref: '#/components/schemas/OrderDuration'
              type: object
      responses:
        '204':
          description: 'Invoice extended successfully'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsObject'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/orders/{id}':
    get:
      tags:
        - 'Order Management'
      summary: 'Get Order Details'
      description: |-
        Retrieves information about an order.

        Get relevant information about an order (e.g. in order to understand, if a specific order was already repaid 
        by your customer).
      operationId: order_get_details
      parameters:
        -
          name: id
          in: path
          description: 'Order external code or UUID'
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      responses:
        '200':
          description: 'Order details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/invoices/{uuid}/update-details':
    post:
      tags:
        - Invoices
      summary: 'Update Invoice'
      operationId: invoice_update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '204':
          description: 'Invoice successfully updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/orders/{uuid}':
    post:
      tags:
        - 'Order Management'
      summary: 'Update Order'
      operationId: order_update_v2
      parameters:
        -
          name: uuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '204':
          description: 'Order successfully updated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
components:
  schemas:
    UUID:
      type: string
      format: uuid
      maxLength: 36
      minLength: 36
      example: 12345667-890a-bcde-f123-34567890abcd
    OrderState:
      title: 'Order State'
      type: string
      enum:
        - new
        - pre_waiting
        - authorized
        - waiting
        - created
        - declined
        - shipped
        - paid_out
        - late
        - complete
        - canceled
      example: created
    OrderStateV2:
      title: 'Order State'
      type: string
      enum:
        - waiting
        - created
        - declined
        - partially_shipped
        - shipped
        - complete
        - canceled
        - pre_waiting
        - authorized
      example: created
    OrderDeclineReason:
      title: 'Order Decline Reason'
      type: string
      enum:
        - risk_policy
        - risk_scoring_failed
        - debtor_not_identified
        - debtor_address
        - risk_scoring_failed
        - debtor_limit_exceeded
      example: debtor_not_identified
    OrderDuration:
      title: 'Order Duration'
      type: integer
      maximum: 120
      minimum: 1
      example: 30
    PostalCode:
      title: 'Postal Code'
      type: string
      maxLength: 5
      minLength: 5
      pattern: '^[0-9]{5}$'
      example: '10969'
    CountryCode:
      title: 'Country Code'
      description: 'ISO 3166-1 alpha-2 country code (two letters: DE, AT, etc.). See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'
      type: string
      maxLength: 2
      minLength: 2
      example: DE
    PhoneNumber:
      title: 'Phone Number'
      type: string
      maxLength: 21
      minLength: 5
      pattern: '^(\+|\d|\()[ \-\/0-9()]{5,20}$'
      example: '030 31199251'
    Date:
      title: Date
      type: string
      format: date
      example: '2019-01-20'
    DateTime:
      title: Date-Time
      type: string
      format: date-time
      example: '2019-01-20 14:00:00'
    TinyText:
      title: string
      type: string
      maxLength: 255
    LegalForm:
      title: 'Legal Form'
      description: 'One of the legal form codes available in the `GET /legal-forms` API endpoint.'
      type: string
      example: '10001'
    AmountDTO:
      title: 'object <net, gross, tax>'
      description: 'The amount object with split values for net, gross and tax'
      required:
        - net
        - gross
        - tax
      properties:
        gross:
          description: 'Value greater than 0, with max. 2 decimals. It should equal to net + tax.'
          type: number
          format: float
          minimum: 0.01
          example: 260.27
        net:
          description: 'Value greater than 0, with max. 2 decimals.'
          type: number
          format: float
          minimum: 0.01
          example: 200.12
        tax:
          description: 'Value greater than or equal to 0, with max. 2 decimals.'
          type: number
          format: float
          minimum: 0
          example: 60.15
      type: object
    ShippingInfo:
      title: 'Shipping information for tracking, delivery, method.'
      description: 'Shipping information for tracking, delivery, method.'
      properties:
        return_shipping_company:
          description: 'Name of the shipping company for the return shipment (as specific as possible). Maximum 100 characters. Example: ''DHL US'' and not only ''DHL'''
        return_tracking_number:
          description: 'Tracking number for the return shipment. Maximum 100 characters.'
        return_tracking_url:
          description: 'URL where the customer can track the return shipment. Maximum 1024 characters.'
        shipping_company:
          description: 'Name of the shipping company (as specific as possible). Maximum 100 characters. Example: ''DHL US'' and not only ''DHL'''
        shipping_method:
          description: 'Shipping method. Example ''PickUpStore'' or ''Postal''.'
        tracking_number:
          description: 'Tracking number for the shipment. Maximum 100 characters.'
        tracking_url:
          description: 'URI where the customer can track their shipment. Maximum 1024 characters.'
      type: object
    AddressStrictPostalCode:
      title: 'Address data are all required except house number.'
      required:
        - street
        - postal_code
        - city
        - country
      properties:
        house_number:
          description: 'House number. Leave empty if it is provided as part of the street'
          example: '45'
          $ref: '#/components/schemas/TinyText'
        street:
          description: 'Street can be with house number together or provide house number in the dedicated field.'
          example: 'Charlottenstr. 45'
          $ref: '#/components/schemas/TinyText'
        postal_code:
          description: 'ZIP or postal code.'
          example: '94111'
          $ref: '#/components/schemas/PostalCode'
        city:
          description: 'City, district, suburb, town, or village.'
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        country:
          description: 'Two-letter country code'
          example: DE
          $ref: '#/components/schemas/CountryCode'
      type: object
    Address:
      title: 'Address data are all required except house number.'
      required:
        - street
        - postal_code
        - city
        - country
      properties:
        house_number:
          description: 'House number. Leave empty if it is provided as part of the street'
          example: '45'
          $ref: '#/components/schemas/TinyText'
        street:
          description: 'Street can be with house number together or provide house number in the dedicated field.'
          example: 'Charlottenstr. 45'
          $ref: '#/components/schemas/TinyText'
        postal_code:
          description: 'ZIP or postal code.'
          example: '94111'
          $ref: '#/components/schemas/TinyText'
        city:
          description: 'City, district, suburb, town, or village.'
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        country:
          description: 'Two-letter country code'
          example: DE
          $ref: '#/components/schemas/CountryCode'
      type: object
    CheckoutConfirmDebtorCompanyRequest:
      title: 'Checkout Confirm Debtor Company Request'
      required:
        - name
        - company_address
      properties:
        name:
          example: 'Billie GmbH'
          $ref: '#/components/schemas/TinyText'
        company_address:
          $ref: '#/components/schemas/AddressStrictPostalCode'
      type: object
    CheckoutConfirmOrderRequest:
      required:
        - amount
        - duration
        - debtor_company
      properties:
        amount:
          $ref: '#/components/schemas/AmountDTO'
        duration:
          $ref: '#/components/schemas/OrderDuration'
        debtor:
          $ref: '#/components/schemas/CheckoutConfirmDebtorCompanyRequest'
        delivery_address:
          $ref: '#/components/schemas/Address'
        external_code:
          description: 'Order external code'
          example: DE123456-1
          $ref: '#/components/schemas/TinyText'
      type: object
    CreateOrderDebtorCompanyRequest:
      title: 'Debtor Company'
      required:
        - merchant_customer_id
        - name
        - legal_form
        - company_address
      properties:
        merchant_customer_id:
          description: 'Unique identifier of the customer provided by the merchant side.'
          example: '128483'
          $ref: '#/components/schemas/TinyText'
        name:
          example: 'Billie GmbH'
          $ref: '#/components/schemas/TinyText'
        company_address:
          $ref: '#/components/schemas/AddressStrictPostalCode'
        billing_address:
          $ref: '#/components/schemas/Address'
        tax_id:
          example: DE1234556
          $ref: '#/components/schemas/TinyText'
        tax_number:
          $ref: '#/components/schemas/TinyText'
        registration_court:
          $ref: '#/components/schemas/TinyText'
        registration_number:
          example: 'HRB 1234556'
          $ref: '#/components/schemas/TinyText'
        industry_sector:
          example: C
          $ref: '#/components/schemas/TinyText'
        subindustry_sector:
          $ref: '#/components/schemas/TinyText'
        employees_number:
          example: 1-5
          $ref: '#/components/schemas/TinyText'
        legal_form:
          $ref: '#/components/schemas/LegalForm'
        established_customer:
          type: boolean
      type: object
    OauthClientCredentialsGrantRequestBodyParams:
      title: 'Request OAuth Token'
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          example: client_credentials
        client_id:
          $ref: '#/components/schemas/UUID'
        client_secret:
          type: string
      type: object
    OauthTokenResponseBody:
      title: 'Request Oauth Token Response'
      properties:
        token_type:
          type: string
          example: Bearer
          nullable: false
        expires_in:
          description: 'TTL of the access token in seconds (Default is 8 hours)'
          type: integer
          nullable: false
        access_token:
          description: 'JWT signed with the authorization server''s private key'
          type: string
          nullable: false
      type: object
    AbstractShipOrderRequest:
      allOf:
        -
          $ref: '#/components/schemas/AbstractShipOrderRequestV1'
        -
          title: 'Order Shipping plain Object'
          properties:
            external_order_id:
              description: 'External Order ID. It should only be provided if it was not provided in the create order call.'
              $ref: '#/components/schemas/TinyText'
            invoice_number:
              $ref: '#/components/schemas/TinyText'
          type: object
    AbstractShipOrderRequestV1:
      title: 'Order Shipping plain Object'
      properties:
        external_order_id:
          description: 'External Order ID. It should only be provided if it was not provided in the create order call.'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        invoice_number:
          $ref: '#/components/schemas/TinyText'
      type: object
    CreateCreditNoteRequest:
      title: 'Create Credit Note'
      required:
        - external_code
        - amount
      properties:
        external_code:
          description: 'The code which this invoice will be identified by.'
          nullable: false
          $ref: '#/components/schemas/TinyText'
        amount:
          description: 'The amount that you want to create this credit note with.'
          nullable: false
          $ref: '#/components/schemas/AmountDTO'
        comment:
          description: 'Comment or description what is this credit note for.'
          $ref: '#/components/schemas/TinyText'
        line_items:
          description: 'Line items from the invoice which this credit note is created for.'
          type: array
          items:
            $ref: '#/components/schemas/LineItemsRequest'
      type: object
    CreateInvoiceRequest:
      title: 'Create Invoice Request'
      required:
        - orders
        - external_code
        - invoice_url
        - amount
      properties:
        orders:
          description: 'Include all the order uuids or external codes that you want to create an invoice for (currently only one order is supported).'
          type: array
          items:
            $ref: '#/components/schemas/UUID'
          nullable: false
        external_code:
          description: 'External code for the invoice to be identified by.'
          example: M-0002126
          nullable: false
          $ref: '#/components/schemas/TinyText'
        invoice_url:
          description: 'The url of the generated invoice from merchant.'
          example: 'ftp://some_server.com/invoices/M-0002126'
          $ref: '#/components/schemas/TinyText'
        shipping_info:
          description: 'Shipping information for tracking, delivery, method.'
          $ref: '#/components/schemas/ShippingInfo'
        amount:
          description: 'The amount of the Invoice in Gross, Net, Tax.'
          nullable: false
          $ref: '#/components/schemas/AmountDTO'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItemsRequest'
      type: object
    CreateOrderRequest:
      title: 'Order Creation Request'
      required:
        - amount
        - duration
        - debtor_company
        - debtor_person
        - line_items
      properties:
        amount:
          $ref: '#/components/schemas/AmountDTO'
        comment:
          $ref: '#/components/schemas/TinyText'
        duration:
          $ref: '#/components/schemas/OrderDuration'
        external_code:
          description: 'Order external code'
          example: DE123456-1
          $ref: '#/components/schemas/TinyText'
        delivery_address:
          $ref: '#/components/schemas/Address'
        debtor:
          $ref: '#/components/schemas/CreateOrderDebtorCompanyRequest'
        debtor_person:
          $ref: '#/components/schemas/CreateOrderDebtorPersonRequest'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderLineItemRequest'
      type: object
    CreateOrderDebtorPersonRequest:
      title: 'Debtor Person'
      required:
        - email
      properties:
        salutation:
          type: string
          maxLength: 1
          enum:
            - m
            - f
        first_name:
          example: James
          $ref: '#/components/schemas/TinyText'
        last_name:
          example: Smith
          $ref: '#/components/schemas/TinyText'
        phone_number:
          $ref: '#/components/schemas/PhoneNumber'
        email:
          type: string
          format: email
          example: james.smith@example.com
      type: object
    CreateOrderLineItemRequest:
      title: 'Order Line Item'
      required:
        - external_id
        - title
        - quantity
        - amount_gross
        - amount_tax
        - amount_net
      properties:
        external_id:
          $ref: '#/components/schemas/TinyText'
        title:
          $ref: '#/components/schemas/TinyText'
        description:
          type: string
        quantity:
          type: number
          minimum: 1
        category:
          $ref: '#/components/schemas/TinyText'
        brand:
          $ref: '#/components/schemas/TinyText'
        gtin:
          description: 'Global Trade Item Number'
          $ref: '#/components/schemas/TinyText'
        mpn:
          description: 'Manufacturer Part Numbers'
          $ref: '#/components/schemas/TinyText'
        amount:
          $ref: '#/components/schemas/AmountDTO'
      type: object
    GetInvoiceResponse:
      title: 'Get Invoice Response'
      properties:
        uuid:
          description: 'Unique identifier of the invoice object.'
          $ref: '#/components/schemas/UUID'
        invoice_number:
          description: 'Customer facing merchant defined invoice number which must be unique.'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        duration:
          description: 'The defined time allowed for payment. Measured in days'
          type: number
          nullable: false
        payout_amount:
          description: 'The amount that will be paid out to the merchant.'
          type: number
          format: float
          nullable: false
        amount:
          description: 'Total invoice amount including gross amount, net amount and tax amount.'
          type: number
          nullable: false
          $ref: '#/components/schemas/AmountDTO'
        outstanding_amount:
          description: 'The remaining amount that has to be paid by the debtor still.'
          type: number
          format: float
          nullable: false
        fee_amount:
          description: 'The fee amount per invoice paid by the merchant to Billie.'
          type: number
          format: float
          nullable: false
        fee_rate:
          description: 'The fee rate is the percentage that the merchant pays to Billie.'
          type: number
          format: float
          nullable: false
        created_at:
          description: 'The date and time when the invoice was created.'
          type: string
          format: date
          example: '2019-03-20'
          nullable: false
        due_date:
          description: 'The date when this invoice is due to be paid back.'
          type: string
          format: date
          example: '2019-03-20'
          nullable: false
        state:
          description: 'The state of the invoice.'
          type: string
          example: created
          nullable: true
        selected_payment_method:
          type: string
          enum:
            - bank_transfer
            - direct_debit
          example: bank_transfer
          nullable: true
        payment_methods:
          $ref: '#/components/schemas/PaymentMethodCollection'
      type: object
    LineItemsRequest:
      title: 'Order Line Item'
      required:
        - external_id
        - quantity
      properties:
        external_id:
          description: 'external identifier of the line item.'
          $ref: '#/components/schemas/TinyText'
        quantity:
          description: 'The quantity of the items.'
          type: number
          minimum: 1
      type: object
    UpdateInvoiceRequest:
      title: 'Invoice Update Request'
      properties:
        external_code:
          description: 'Invoice external code which the invoice will be identified by.'
          example: M-0002126
          $ref: '#/components/schemas/TinyText'
        invoice_url:
          description: 'The url of the generated invoice from merchant.'
          example: 'ftp://some_server.com/invoices/M-0002126'
          $ref: '#/components/schemas/TinyText'
      type: object
    UpdateOrderRequest:
      title: 'Order Update with invoice Object'
      properties:
        amount:
          $ref: '#/components/schemas/AmountDTO'
        external_code:
          description: 'Update order request'
          $ref: '#/components/schemas/TinyText'
      type: object
    OrderInvoiceResponse:
      title: 'Order Entity'
      properties:
        uuid:
          nullable: true
          $ref: '#/components/schemas/UUID'
        invoice_number:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        state:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        payout_amount:
          type: number
          format: float
          nullable: true
        amount:
          type: number
          format: float
        amount_net:
          type: number
          format: float
        amount_tax:
          type: number
          format: float
        outstanding_amount:
          type: number
          format: float
          nullable: true
        pending_merchant_payment_amount:
          type: number
          format: float
          nullable: true
        pending_cancellation_amount:
          type: number
          format: float
          nullable: true
        fee_amount:
          type: number
          format: float
          nullable: true
        fee_rate:
          type: number
          format: float
          nullable: true
        due_date:
          type: string
          format: date
          example: '2019-03-20'
        created_at:
          type: string
          format: date
          example: '2019-03-20'
      type: object
    ErrorsObject:
      title: 'API Errors'
      properties:
        errors:
          type: array
          items:
            required:
              - title
              - code
            properties:
              title:
                description: 'Error message'
                type: string
              code:
                description: 'Error code'
                type: string
                nullable: true
              source:
                description: 'Property path where the error occurred, if applicable'
                type: string
                nullable: true
            type: object
      type: object
    BankAccount:
      title: 'Simple representation of a bank account'
      properties:
        iban:
          description: 'Virtual IBAN provided by Billie'
          $ref: '#/components/schemas/TinyText'
        bic:
          $ref: '#/components/schemas/TinyText'
      type: object
    Debtor:
      title: 'Order Debtor'
      properties:
        name:
          type: string
          example: C-10123456789-0001
        company_address:
          $ref: '#/components/schemas/Address'
        billing_address:
          $ref: '#/components/schemas/Address'
        bank_account:
          nullable: true
          deprecated: true
          $ref: '#/components/schemas/BankAccount'
        external_data:
          $ref: '#/components/schemas/DebtorExternalData'
      type: object
    DebtorExternalData:
      title: 'Debtor External Data'
      properties:
        merchant_customer_id:
          example: C-10123456789
          $ref: '#/components/schemas/TinyText'
        name:
          example: 'Billie G.m.b.H.'
          $ref: '#/components/schemas/TinyText'
        industry_sector:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        address:
          $ref: '#/components/schemas/Address'
      type: object
    Order:
      title: 'Order Entity'
      properties:
        external_code:
          type: string
          example: C-10123456789-0001
          nullable: true
        uuid:
          $ref: '#/components/schemas/UUID'
        state:
          example: created
          $ref: '#/components/schemas/OrderStateV2'
        decline_reason:
          nullable: true
          $ref: '#/components/schemas/OrderDeclineReason'
        amount:
          $ref: '#/components/schemas/TaxedMoney'
        unshipped_amount:
          $ref: '#/components/schemas/TaxedMoney'
        duration:
          example: 30
          $ref: '#/components/schemas/OrderDuration'
        created_at:
          $ref: '#/components/schemas/DateTime'
        delivery_address:
          $ref: '#/components/schemas/Address'
        debtor:
          $ref: '#/components/schemas/Debtor'
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/OrderInvoiceResponse'
          nullable: false
        selected_payment_method:
          type: string
          enum:
            - bank_transfer
            - direct_debit
          example: bank_transfer
          nullable: true
        payment_methods:
          $ref: '#/components/schemas/PaymentMethodCollection'
      type: object
    PaymentMethodType:
      title: 'Payment Method Type'
      type: string
      enum:
        - bank_transfer
        - direct_debit
      example: bank_transfer
    PaymentMethod:
      title: 'Payment Method'
      properties:
        type:
          $ref: '#/components/schemas/PaymentMethodType'
        data:
          description: 'Identified company'
          properties:
            iban:
              nullable: false
              $ref: '#/components/schemas/TinyText'
            bic:
              nullable: false
              $ref: '#/components/schemas/TinyText'
            bank_name:
              description: 'Name of the Bank entity'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            mandate_reference:
              description: 'Direct Debit SEPA Mandate Reference'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            mandate_execution_date:
              description: 'Execution Date of the Direct Debit SEPA mandate'
              nullable: true
              $ref: '#/components/schemas/DateTime'
            creditor_identification:
              description: 'Creditor Identification Code (for Direct Debit only)'
              nullable: true
              $ref: '#/components/schemas/TinyText'
          type: object
      type: object
    PaymentMethodCollection:
      title: 'Eligible Payment Methods'
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    TaxedMoney:
      title: 'Amount with split values for net, gross and tax.'
      required:
        - net
        - gross
        - tax
      properties:
        gross:
          description: 'Value greater than 0, with max. 2 decimals. It should equal to net + tax.'
          type: number
          format: float
          minimum: 1
          example: 260.27
        net:
          description: 'Value greater than 0, with max. 2 decimals.'
          type: number
          format: float
          minimum: 1
          example: 200.12
        tax:
          description: 'Value greater than or equal to 0, with max. 2 decimals.'
          type: number
          format: float
          minimum: 0
          example: 60.15
      type: object
    GetOrdersResponsePayloadInvoice:
      properties:
        uuid:
          $ref: '#/components/schemas/UUID'
        invoice_number:
          description: 'Invoice Number'
          type: string
          example: O-10123456789-0001
          nullable: false
        created_at:
          nullable: false
          $ref: '#/components/schemas/DateTime'
        due_date:
          nullable: false
          $ref: '#/components/schemas/DateTime'
        amount:
          description: 'Gross amount'
          type: number
          format: float
          example: 10
          nullable: false
        outstanding_amount:
          type: number
          format: float
          example: 10
          nullable: false
      type: object
    GetOrdersResponsePayload:
      properties:
        total:
          type: number
          example: 42500
          nullable: false
        items:
          type: array
          items:
            properties:
              uuid:
                $ref: '#/components/schemas/UUID'
              order_id:
                description: 'Order Number'
                type: string
                example: O-10123456789
                nullable: true
              created_at:
                nullable: false
                $ref: '#/components/schemas/DateTime'
              state:
                example: created
                nullable: false
                $ref: '#/components/schemas/OrderState'
              duration:
                example: 30
                $ref: '#/components/schemas/OrderDuration'
              amount:
                description: 'Gross amount'
                type: number
                format: float
                example: 120
                nullable: false
              invoice:
                nullable: true
                deprecated: true
                $ref: '#/components/schemas/GetOrdersResponsePayloadInvoice'
              invoices:
                type: array
                items:
                  $ref: '#/components/schemas/GetOrdersResponsePayloadInvoice'
                nullable: false
              workflow_name:
                description: 'Workflow Name'
                type: string
                example: order_v1
                nullable: false
            type: object
          nullable: false
      type: object
  responses:
    ServerError:
      description: 'Unexpected Server Error'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    NotFound:
      description: 'Resource Not Found'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Unauthorized:
      description: 'Unauthorized request or invalid credentials'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Forbidden:
      description: 'Forbidden Request. The operation cannot be completed.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    BadRequest:
      description: 'Invalid Request Data'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
  securitySchemes:
    oauth2:
      type: oauth2
      description: |-
        This authentication mechanism is based on the OAuth 2.0 prototocol and requires a Client ID, a Client Secret Key and
        in some cases also a user and password.

        With these credentials, the client should request a token using the `POST /api/v1/oauth/token` endpoint,
        which should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.

        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      flows:
        password:
          tokenUrl: /oauth/token
          scopes:
            default: default
tags:
  -
    name: Authentication
    description: |-
      This API uses OAuth 2.0 for secure authentication. 

      Different keys are used for the `sandbox` and `production` environments. Both systems operate completely independent, however both show largely 
      the same response behaviour. The major difference is that sandbox does not trigger any payment events (payout to merchant, repayment 
      by debtors, etc.). To obtain your credentials for both environments please contact Billie's merchant integration support 
      via telephone ( [+49-30-120872485](tel:+4930120872485) ) or email ( pad@billie.io ).

      This authentication mechanism is based on the OAuth 2.0 protocol and requires a Client ID and a Client Secret Key (client credentials).

      Before triggering any API call, a so called JSON web token (JWT) must be requested through the `oauth/token` endpoint described below
      by using your client credentials.
      In all following requests / API calls, this JWT token is used for authorization and must be passed as type "Bearer" token 
      in the Authorization header. Example: `Authorization: Bearer eyJhbGciOiJIUzI...`

      Renewal of the bearer token / JWT:

      Every token expires automatically after 8 hours. After expiration of an existing token a new token must be requested through the 
      `POST oauth/token` endpoint. Implementation best practice is to always try sending API calls first with the previously stored token. 
      Sending API calls with an expired token will be answered with an `HTTP 401` (Unauthorized request or invalid credentials) response.

      After receiving the `401` error you will simply need to request a new token by triggering again the `oauth/token` endpoint. 
      After receiving the new valid token, resend the previously failed API call. This procedure allows for optimal API interaction, 
      ensures reduced system load on both ends, and is easy to implement as you don't need to keep track of token expiration times.

      There is another endpoint available for checking if a token is still valid or not: `GET oauth/token`.
  -
    name: 'Checkout Client'
    description: |-
      To integrate the Billie checkout widget, the following steps are required:

      1. Add the Billie checkout widget bundle to your checkout page
      2. Provide config data _(with the `session_id` from the server-side integration)_
      3. Provide order details and call the mount method
      4. Handle the widget responses

      This section provides a step-by-step guide of the setup process.

      ### 1. Include Billie Checkout Widget Bundle into your Checkout Page

      On the checkout page, the following code snippet must be included:
      ```html
      <script>
        var bcwSrc = 'https://static-paella-sandbox.billie.io/checkout/billie-checkout.js';
        (function(w,d,s,o,f,js,fjs){
          w['BillieCheckoutWidget']=o;w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments)};
          w.billieSrc=f;js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];js.id=o;
          js.src=f;js.charset='utf-8';js.async=1;fjs.parentNode.insertBefore(js,fjs);bcw('init');
        }(window,document,'script','bcw', bcwSrc));
      </script>
      ```

      The URL contained in `bcwSrc` specifies whether you are using the Sandbox or Production environment:

      Sandbox: https://static-paella-sandbox.billie.io/checkout/billie-checkout.js

      Production: https://static.billie.io/checkout/billie-checkout.js

      The code snippet above injects our checkout script into the `head` of the webshop. This will download our widget bundle code and enable function calls to interact with the widget.

      It is **strongly recommended** to add this code snippet as high as possible in the document head to ensure that the widget download completes as soon as possible, providing a smooth user experience.

      ### 2. Provide Config Data

      During initialization of the widget, the `session_id` is required. This can be obtained by calling [Checkout Session Create](#operation/checkout_session_create) from your backend and exposing it to the frontend. The `session_id` will be unique per order.
      ```html
      <script>
        const billie_config_data = {
          'session_id': ':YOUR_SESSION_ID',
          'merchant_name': ':YOUR_NAME'
        }
      </script>
      ```
      The `session_id` is needed to approve the order and should be known before mounting the widget.

      Ideally, if you are using server side rendering, this piece of code should be inserted into the document head with prefilled values. Otherwise please ensure there is an [XHR request](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest) as early as possible to your backend to retrieve the `session_id`.

      ### 3. Provide Order Details and Call Mount Method

      Once the user reviews their checkout basket and is ready to pay, they can click on the **Pay with Billie** button. When this happens, Billie expects the `mount` method to be called. If you want to offer payments with direct debit you can pass an __optional__ `billie_widget_options` object containing `payment_method`.
      The easiest integration option is to inline the function call directly on the button, for example:

      ```html
      <script>
        function payWithBillie() {
          // prepare / get all the data and assign it to billie_order_data, please refer to 3a section
          BillieCheckoutWidget.mount({
            billie_config_data: billie_config_data, 
            billie_order_data: billie_order_data,

            // not required additional options, please refer to 3c section
            billie_widget_options: {
              payment_method: payment_method
            }
          })
          .then(function success(ao) {
            // code to execute when approved order
            // console.log('Approved order', ao);
          })
          .catch(function failure(err) {
            // code to execute when there is an error or when order is rejected
            // console.log('Error occurred', err);
          });
        }
      </script>
      <button onclick="payWithBillie()"> Pay with Billie </button>
      ```

      `BillieCheckoutWidget` is a JavaScript promise which can accept optional `then` and `catch` methods. They can be added if the webshop needs to perform an action based on the outcome of the order authorization. 

      The `then` block will receive as parameter the object with the authorised order details.

      The `catch` block will receive the error object with reasons why the order creation was rejected.


      #### 3.a Mount Method Parameters

      `BillieCheckoutWidget.mount` expects three parameters:
      - `billie_config_data` is the object received in step two which includes the `session_id` and `merchant_name`
      - `billie_order_data`  is a collection of order data from the user
      - `billie_widget_options` __[optional]__ is an object which includes `payment_method`

      #### 3.b Order Data Object

      The order data object must contain all information about an order, in the following format (required values are **bolded**):

      - `amount` **[object]**
         - `gross` **[float]** `> 0`
         - `tax` **[float]** `>= 0`
         - `net` **[float]** `> 0`
      - `duration` **[integer]** `[7...120]`
      - `delivery_address` **[object]**
        - `street` **[string]** `<= 255 characters`
        - `house_number`  _[string]_ `<= 255 characters`
        - `addition` _[string]_ `<= 255 characters`
        - `city` **[string]** `<= 255 characters`
        - `postal_code` **[string]** 
        - `country` **[string]** `2 characters` `^[A-Za-z]{2}$`
      - `debtor_company` **[object]**
        - `name` **[string]** `<= 255 characters`
        - `established_customer` _[boolean]_ 
        - `address_street` **[string]** `<= 255 characters`
        - `address_house_number` **[string]** `<= 255 characters`
        - `address_addition` _[string]_  `<= 255 characters`
        - `address_city` **[string]** `<= 255 characters`
        - `address_postal_code` **[string]** `5 characters` `^[0-9]{5}$`
        - `address_country` **[string]** `2 characters` `^[A-Za-z]{2}$`
      - `debtor_person`  **[object]**
        - `salutation` **[string]** `1 character` `["m" / "f"]`
        - `first_name` _[string]_ `<= 255 characters`
        - `last_name` _[string]_ `<= 255 characters`
        - `phone_number` _[string]_ `>= 5 characters`, `<= 20 characters` `^(\+|\d|\()[ \-\/0-9()]{5,20}$`
        - `email` **[string]** `<= 255 characters` `valid email`
      - `line_items` **[array of objects]**
        - `external_id` **[string]** `<= 255 characters`
        - `title` **[string]** `<= 255 characters`
        - `description` _[string]_ `<= 255 characters`
        - `quantity` **[string]** `>= 1`
        - `category` _[string]_ `<= 255 characters`
        - `brand` _[string]_ `<= 255 characters`
        - `gtin` _[string]_ `<= 255 characters`
        - `mpn` _[string]_ `<= 255 characters`
        - `amount` **[object]**
          - `gross` **[float]** `> 0`
          - `tax` **[float]** `>= 0`
          - `net` **[float]** `> 0`

      Below you can find an example of `orderData` object in javascript
      ```javascript
      const billie_order_data = {
        "amount": { "net": 100, "gross": 100, "tax": 0 },
        "comment": "string",
        "duration": 30,
        "delivery_address": {
          "house_number": "string",
          "street": "string",
          "city": "string",
          "postal_code": "10000",
          "country": "DE",
          "addition": "string"
        },
        "debtor_company": {
          "name": "string",
          "established_customer": false,
          "address_house_number": "string",
          "address_street": "string",
          "address_city": "string",
          "address_postal_code": "10000",
          "address_country": "DE",
          "address_addition": "string"
        },
        "debtor_person": {
          "salutation": "m",
          "first_name": "string",
          "last_name": "string",
          "phone_number": "030 31199251",
          "email": "james.smith@example.com"
        },
        "line_items": [
          {
            "external_id": "string",
            "title": "string",
            "description": "string",
            "quantity": 1,
            "category": "string",
            "brand": "string",
            "gtin": "string",
            "mpn": "string",
            "amount": { "net": 100, "gross": 100, "tax": 0 },
          }
          // , ...
        ]
      };
      ```

      #### 3.c Widget Options

      An __optional__ collection of additional options to pass to the widget

      - `payment_method` **[string]**  
      &nbsp;&nbsp;&nbsp;&nbsp;Enum: `invoice` `direct_debit`  
      &nbsp;&nbsp;&nbsp;&nbsp;Default: `invoice`

      ### 4. Handle Widget Responses

      When submitted, the checkout widget will evaluate if an order with the given data can be accepted. 
      - If an order cannot be accepted, the widget will return the state `declined` with a specified `decline_reason`
      - If an order can be accepted immediately the widget will return the state `authorized`. 
      - It is also possible that some additional checks need to be conducted by Billie in order to accept the order. In this case the widget will return the state `pre_waiting`. 

      In both `authorized` and `pre_waiting` states the `checkout-session-confirm` call must be used to confirm the order creation. 


      #### Response
      After submitting the widget, following data will be returned to either `then` or `catch` block:
      - `state` **[string]** `<= 255 characters`   
      &nbsp;&nbsp;&nbsp;&nbsp;Enum: `authorized` `declined` `pre_waiting`
      - `decline_reason` **[string]** `<= 255 characters`   
      &nbsp;&nbsp;&nbsp;&nbsp;Enum: `validation_error` `risk_policy` `debtor_not_identified` `debtor_address` `risk_scoring_failed` `debtor_limit_exceeded` `unknown_error`
      - `validation_error_source` **[string]**  `<= 255 characters`
      - `debtor_company` **[object]**  
        - `name` **[string]** `<= 255 characters`
        - `address_street` **[string]** `<= 255 characters`
        - `address_house_number` **[string]** `<= 255 characters`
        - `address_city` **[string]** `<= 255 characters`
        - `address_postal_code` **[string]** `5 characters` `^[0-9]{5}$`
        - `address_country` **[string]** `2 characters` `^[A-Za-z]{2}$`

      _**Special note**_  
      * `decline_reason` will be set only when `state` value is `declined`
      * `validation_error_source` will be set only when `decline_reason` value is `validation_error`. We will fill this property with information to help you find which fields are failing validation checks.
  -
    name: 'Checkout Server'
  -
    name: 'Back-end Order Creation'
  -
    name: 'Order Management'
  -
    name: Webhooks
    description: |-
      To send updates on relevant events, Billie PAD sends POST requests to the incoming webhook URL provided by the merchant.
      See "Event Names" section for the list of events that can be communicated via webhooks.

      ### Webhook Authentication

      The authentication for webhooks sent from Billie to the merchants incoming webhook URL depends on the merchant specifications
      and needs, but one possibility is sending the Billie API Key via headers:
      Examples:
      - `Authorization: Basic THE_API_KEY`
      - `X-Api-Key: THE_API_KEY`
      - `X-Another-Custom-Header: THE_API_KEY`

      The merchants will need to verify on their server side the authentication mechanism and credentials.

      ### Webhook Requests

      A `POST` request is sent to the configured merchant Webhook URL with one of the API Key headers mentioned above,
      the `application/json` Content-Type and the following body format:
      ```
      {
          created_at: (datetime)
          event: (string) (event name, -check the following section for more details-)
          order_id: (string) (order external code)
          order_uuid: (string)
          invoice_uuid: (string)
          amount: (string) (optional) (contains sum of paid amounts)
          open_amount: (string) (optional) (contains sum of outstanding amount)
      }
      ```

      ## Event Names

      ### Order State Transitions

      | Event Name    | Description |
      |---------------|-------------|
      |order_waiting  | Order is not approved waiting for manual confirmation.
      |order_shipped  | Order is shipped.
      |order_canceled | When the order is canceled.

      ### Invoice State Transitions
      | Event Name       | Description                              
      |------------------|------------------------------------------
      | invoice_paid_out |  When the invoice is paid out             
      | invoice_late     |  When the invoice payback is late
      | invoice_canceled |  When the invoice is canceled

      ### Waiting State

      | Event Name      | Description                                                                                                                |
      |-----------------|----------------------------------------------------------------------------------------------------------------------------|
      | order\_approved | An order that was in waiting state and after manual check has been approved.                                               
      | order\_declined | An order that was in waiting state and after manual check has been declined.                                             

      ### Webhooks for Dunning & Collections

      | Event Name       | Description                              |
      |------------------|------------------------------------------|
      | reminder_email_1 | 1st Reminder mail was sent               |
      | reminder_email_2 | 2nd Reminder mail was sent               |
      | dunning_letter_1 | 1st Dunning letter was sent              |
      | dunning_email_1  | 1st Dunning mail was sent                |
      | reminder_email_3 | 3rd Reminder email was sent              |
      | dunning_letter_2 | 2nd Dunning letter was sent              |
      | dunning_email_2  | 2nd Dunning email was sent               |
      | reminder_email_4 | 4th Reminder email was sent              |
      | dca_email        | Handover to collections email was sent   |

      ### Payments

      | Event Name |  Description |
      |------------|--------------|
      | payment    | When an Invoice is paid back partially or fully a message will be sent.