openapi: 3.0.0
info:
  title: 'Billie - PaD API Documentation'
  description: |
    # Introduction
    
    The PaD API provides an easy way to integrate both client and server-side 
    with our __Billie Pay After Delivery (PaD)__ platform.
    
    _Billie PaD_ is a Business to Business (B2B) platform that enables you (the merchant) to accept invoice payments from
    other business customers without having to wait for the money to arrive, caring about reminding customers to pay,
    or taking over any credit risk.
    
    Based upon your contractual agreement with Billie, your customers will have 14, 30, 45, 60, 90 or 120 days (payment terms) 
    to pay your invoices while Billie will transfer the money to you immediately after shipment of product or fulfilment of
    service obligation.
    
    If customers get late with paying their outstanding invoices, Billie will also take over reminding customers on your behalf 
    (white label solution). In case of your customer's bankruptcy, Billie fully covers this default for you.
    
    ---
    
    ## Order States
    
    | State       | Description                                                                                   |
    |-------------|-----------------------------------------------------------------------------------------------|
    | waiting     | The order creation failed and needs a manual operation in order to be approved or declined    |
    | authorized  | The order is valid but it needs a confirmation from the merchant in order to be approved      |
    | created     | The order is successfully approved and Billie can offer financing for this transaction        |
    | declined    | The order was declined and no financing is offered for this transaction                       |
    | shipped     | The order was successfully shipped by the merchant                                            |
    | paid_out    | The outstanding amount for the respective order was successfully paid out to the merchant     |
    | late        | The payment of the outstanding amount is overdue                                              |
    | complete    | The outstanding amount was successfully paid back by the customer                             |
    | canceled    | The order was canceled by the merchant       
    
    ## Order State Transitions
    
    ![img](src/Resources/docs/orders-workflow-public.png)
    
    ## Order Decline Reasons
    
    An order could be declined by any of these reasons:
    
    | Reason                | Description                                               |
    |-----------------------|-----------------------------------------------------------|
    | debtor_address        | Debtor address or name mismatch                           |
    | debtor_not_identified | Debtor could not be identified with the information given |
    | risk_policy           | Risk decline                                              |
    | debtor_limit_exceeded | Financing limit of debtor currently exceeded              |
    
    
    ## Usage of Virtual IBANs
    
    Since the money gets paid out to the merchant directly after shipment of the product or delivery of the agreed service, 
    customers need to transfer the money directly to Billie when their invoice is due. Therefore Billie is using virtual IBANs 
    that are delivered back to the merchant as an answer of a API order creation request. Virtual IBANs are unique for each of 
    your debtor / customer. The virtual IBAN needs to be put on the invoice which the customer receives for the purchase.
    
  termsOfService: 'https://www.billie.io/agb/'
  license:
    name: '© Billie GmbH, 2019'
    url: 'https://www.billie.io/agb/'
  version: 2.6.2
  x-logo:
    url: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzJfS29waWUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIKCSB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0OC41IDY3LjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4LjUgNjcuNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtkaXNwbGF5Om5vbmU7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDo3O3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDF7ZmlsbDojMUYyNTMwO30KCS5zdDJ7ZmlsbDpub25lO30KCS5zdDN7ZGlzcGxheTpub25lO2VuYWJsZS1iYWNrZ3JvdW5kOm5ldyAgICA7fQoJLnN0NHtmb250LWZhbWlseTonQXZlbmlyTmV4dC1EZW1pQm9sZCc7fQoJLnN0NXtmb250LXNpemU6My4wMzAzcHg7fQoJLnN0NntsZXR0ZXItc3BhY2luZzoyO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTkuOCw0Ni4xYy0wLjUsMCwyNS4xLTEyLjYsMjUuMS0zMi43YzAtNi45LTUuNi0xMi42LTEyLjYtMTIuNlM5LjcsNi41LDkuNywxMy40TDkuOCw0Ni4xaDE4LjUKCWM2LjksMCwxMi42LTUuNiwxMi42LTEyLjZTMzUuMiwyMSwyOC4yLDIxSDkuNyIvPgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0yOC4yLDQ3SDguOHYtMC44YzAtMC4xLDAtMC4yLDAtMC4zVjEzLjVDOC44LDYsMTQuOSwwLDIyLjMsMHMxMy41LDYsMTMuNSwxMy41YzAsMi44LTAuNSw1LjUtMS40LDguMgoJCWM0LjMsMi4yLDcuMyw2LjcsNy4zLDExLjlDNDEuNyw0MSwzNS42LDQ3LDI4LjIsNDd6IE0xMi45LDQ1LjJoMTUuM2M2LjQsMCwxMS43LTUuMywxMS43LTExLjdjMC00LjQtMi41LTguMy02LjEtMTAuMwoJCWMtMS44LDQuNC00LjgsOC43LTksMTIuOEMyMC40LDQwLjQsMTUuOCw0My41LDEyLjksNDUuMnogTTEwLjYsMjEuOXYyMi43YzEzLTcuNywxOC45LTE1LjYsMjEuNS0yMmMtMS4yLTAuNC0yLjUtMC43LTMuOS0wLjdIMTAuNgoJCXogTTEwLjYsMjAuMWgxNy42YzEuNiwwLDMuMSwwLjMsNC41LDAuOGMxLTIuOSwxLjMtNS41LDEuMy03LjRDMzQsNywyOC44LDEuOCwyMi4zLDEuOFMxMC42LDcsMTAuNiwxMy41VjIwLjF6Ii8+CjwvZz4KPHJlY3QgeD0iLTExLjEiIHk9Ii01OC43IiBjbGFzcz0ic3QyIiB3aWR0aD0iODUuNCIgaGVpZ2h0PSI0OS41Ii8+Cjx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIDEgLTEuMDQyNCA2Ny41NzcyKSIgY2xhc3M9InN0MyBzdDQgc3Q1IHN0NiI+QklMTElFPC90ZXh0Pgo8Zz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0wLDU4LjFoMy43YzAuNCwwLDAuNywwLjEsMS4xLDAuMWMwLjQsMC4xLDAuNywwLjIsMC45LDAuNGMwLjMsMC4yLDAuNSwwLjQsMC43LDAuN2MwLjIsMC4zLDAuMywwLjcsMC4zLDEuMQoJCWMwLDAuNS0wLjIsMS0wLjUsMS4zYy0wLjMsMC40LTAuNywwLjYtMS4yLDAuOHYwYzAuNiwwLjEsMS4xLDAuMywxLjUsMC43QzYuOCw2My42LDcsNjQuMiw3LDY0LjhjMCwwLjUtMC4xLDEtMC4zLDEuMwoJCWMtMC4yLDAuNC0wLjUsMC42LTAuOCwwLjljLTAuMywwLjItMC43LDAuNC0xLjIsMC41Yy0wLjQsMC4xLTAuOSwwLjItMS4zLDAuMkgwQzAsNjcuNiwwLDU4LjEsMCw1OC4xeiBNMS43LDYyaDEuNQoJCWMwLjYsMCwxLTAuMSwxLjMtMC4zYzAuMy0wLjIsMC40LTAuNSwwLjQtMWMwLTAuNC0wLjItMC43LTAuNS0wLjljLTAuMy0wLjItMC44LTAuMy0xLjQtMC4zSDEuN0wxLjcsNjJMMS43LDYyeiBNMS43LDY2LjFoMS41CgkJYzAuMiwwLDAuNSwwLDAuNy0wLjFzMC41LTAuMSwwLjctMC4yYzAuMi0wLjEsMC40LTAuMywwLjUtMC40YzAuMS0wLjIsMC4yLTAuNCwwLjItMC44YzAtMC41LTAuMi0wLjktMC41LTEKCQljLTAuMy0wLjItMC45LTAuMy0xLjUtMC4zSDEuN1Y2Ni4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTExLjEsNTguMWgxLjd2OS41aC0xLjdWNTguMXoiLz4KCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNy4zLDU4LjFoMS43djhoNHYxLjVoLTUuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTI2LjUsNTguMWgxLjd2OGg0djEuNWgtNS43TDI2LjUsNTguMUwyNi41LDU4LjF6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzUuNyw1OC4xaDEuN3Y5LjVoLTEuN1Y1OC4xeiIvPgoJPHBhdGggY2xhc3M9InN0MSIgZD0iTTQxLjksNTguMWg2LjN2MS41aC00LjZWNjJINDh2MS40aC00LjNWNjZoNC44djEuNWgtNi41VjU4LjF6Ii8+CjwvZz4KPC9zdmc+Cg=='
    href: '#'
servers:
  -
    url: 'https://paella-sandbox.billie.io/api/v1'
    description: 'Test Sandbox API'
  -
    url: 'https://paella.billie.io/api/v1'
    description: 'Production API'
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: 'Request OAuth Token'
      description: |
        <!-- Grants documentation taken from: https://oauth2.thephpleague.com/ -->
        
        ### Flow
        
        The client sends a POST request with following body parameters to the authorization server:
        
        * `grant_type` with the value `client_credentials`
        * `client_id` with the client's ID
        * `client_secret` with the client's secret
        
        The authorization server will respond with a JSON object containing the following properties:
        
        * `token_type` with the value `Bearer`
        * `expires_in` with an integer representing the TTL (in seconds) of the access token (Default is 8 hours)
        * `access_token` a JWT signed with the authorization server's private key
        
        The `access_token` should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.
        
        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      operationId: oauth_token_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthClientCredentialsGrantRequestBodyParams'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthTokenResponseBody'
  /oauth/authorization:
    get:
      tags:
        - Authentication
      summary: 'Validate OAuth Token'
      description: |
        Validates the `Authorization: Bearer XXXX` OAuth 2.0 token header and returns a successful response
        with `client_id` and `user_id` or fails if it's invalid.
      operationId: oauth_token_validate
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                required:
                  - client_id
                  - scopes
                properties:
                  client_id: { $ref: '#/components/schemas/UUID' }
                  scopes: { type: array, items: { type: string }, default: [] }
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/ServerError'
  '/order/{id}/confirm-payment':
    post:
      tags:
        - 'Order Management'
      summary: 'Confirm Order Payment'
      description: |
        This endpoint needs to be called if a customer is accidentally paying the purchase amount 
        directly to the merchant. (See usage of virtual IBANs).
        
        As a consequence of sending this call, Billie will make a direct debit from the merchant 
        or net it against the potential outstanding payout amount of the very day. 
        Please mind that the order state will only be updated after Billie actually receives 
        the money of the confirmed payment.
      operationId: order_payment_confirm
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TinyText'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                paid_amount:
                  type: number
                  format: float
                  minimum: 0.1
              type: object
      responses:
        '204':
          description: 'Order payment successfully confirmed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/debtor/{uuid}':
    get:
      tags:
        - Debtors
      summary: 'Get Debtor Details'
      operationId: debtor_get_details
      parameters:
        -
          name: uuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: 'Debtor details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDebtorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /debtors:
    get:
      tags:
        - Debtors
      summary: 'Get Debtors'
      operationId: debtors_get
      parameters:
        -
          name: sort_by
          in: query
          required: false
          schema:
            type: string
            default: 'created_at,desc'
            enum:
              - created_at
              - 'created_at,desc'
              - 'created_at,asc'
              - external_code
              - 'external_code,desc'
              - 'external_code,asc'
        -
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        -
          name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
        -
          name: search
          in: query
          description: 'Search text. Filters search results by: `external_code`.'
          required: false
          schema:
            $ref: '#/components/schemas/TinyText'
      responses:
        '200':
          description: 'Debtors list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDebtorListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/payments/{uuid}':
    get:
      tags:
        - Payments
      summary: 'Get Payment Details'
      operationId: get_payment_details
      parameters:
        -
          name: uuid
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantPaymentDetailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /payments:
    get:
      tags:
        - Payments
      summary: 'Get Payments'
      operationId: get_payments
      parameters:
        -
          name: sort_by
          in: query
          required: false
          schema:
            type: string
            default: priority
            enum:
              - priority
              - date
        -
          name: sort_direction
          in: query
          required: false
          schema:
            type: string
            default: desc
            enum:
              - desc
              - asc
        -
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        -
          name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
        -
          name: merchant_debtor_uuid
          in: query
          description: 'Merchant Debtor Uuid'
          required: false
          schema:
            $ref: '#/components/schemas/UUID'
        -
          name: search
          in: query
          description: 'Search text.'
          required: false
          schema:
            $ref: '#/components/schemas/TinyText'
      responses:
        '200':
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantPaymentsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /merchant/user:
    get:
      tags:
        - Authentication
      summary: 'Get Merchant User'
      operationId: get_merchant_user
      responses:
        '200':
          description: 'Merchant User details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMerchantUserResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/order/{id}':
    get:
      tags:
        - 'Order Management'
      summary: 'Get Order Details'
      description: |
        Retrieves information about an order.
        
        Get relevant information about an order (e.g. in order to understand, if a specific order was already repaid 
        by your customer).
      operationId: order_get_details
      parameters:
        -
          name: id
          in: path
          description: 'Order external code or UUID'
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      responses:
        '200':
          description: 'Order details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /orders:
    get:
      tags:
        - 'Order Management'
      summary: 'Get Orders'
      operationId: orders_get
      parameters:
        -
          name: sort_by
          in: query
          required: false
          schema:
            type: string
            default: 'created_at,desc'
            enum:
              - created_at
              - 'created_at,desc'
              - 'created_at,asc'
              - external_code
              - 'external_code,desc'
              - 'external_code,asc'
              - amount_gross
              - 'amount_gross,desc'
              - 'amount_gross,asc'
              - state
              - 'state,desc'
              - 'state,asc'
        -
          name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        -
          name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
        -
          name: search
          in: query
          description: 'Search text. Filters search results by: `external_code`, `uuid` or `invoice_number`.'
          required: false
          schema:
            $ref: '#/components/schemas/TinyText'
        -
          name: filters
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            properties:
              merchant_debtor_id:
                $ref: '#/components/schemas/UUID'
              state:
                type: array
                items:
                  $ref: '#/components/schemas/OrderState'
                minItems: 1
            type: object
      responses:
        '200':
          description: 'Orders list'
          content:
            application/json:
              schema:
                properties:
                  total: { type: integer, minimum: 0 }
                  items: { type: array, items: { $ref: '#/components/schemas/OrderResponse' } }
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  /merchant/user/login:
    post:
      tags:
        - Authentication
      summary: 'Merchant User Login'
      operationId: merchant_user_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantUserLoginRequest'
      responses:
        '200':
          description: 'Login successful'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantUserLoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security: []
  /merchant/user/logout:
    post:
      tags:
        - Authentication
      summary: 'Merchant User Logout'
      operationId: merchant_user_logout
      responses:
        '200':
          description: 'Logout successful'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
  '/order/{id}/pause-dunning':
    post:
      tags:
        - 'Order Management'
      summary: 'Pause Order Dunning Process'
      operationId: order_pause_dunning
      parameters:
        -
          name: id
          in: path
          description: 'Order external code or UUID'
          required: true
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/UUID'
              -
                type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseOrderDunningRequest'
      responses:
        '204':
          description: 'Successfully paused order dunning'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'Pause order dunning is not allowed'
          content:
            application/json:
              schema:
                properties:
                  errors: { type: array, items: { required: [title, code], properties: { title: { type: string, enum: ['maximum pausing attempts reached', 'requested number of days exceeds maximum duration allowed', 'maximum dunning stage reached', 'other orders exceed maximum dunning stage', 'Cannot pause dunning. Order is not in state late'], example: 'maximum pausing attempts reached', nullable: false }, code: { type: string, example: forbidden, nullable: true } }, type: object } }
                type: object
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        -
          oauth2: []
components:
  schemas:
    UUID:
      type: string
      format: uuid
      maxLength: 36
      minLength: 36
      example: 12345667-890a-bcde-f123-34567890abcd
    OrderState:
      title: 'Order State'
      type: string
      enum:
        - new
        - authorized
        - waiting
        - created
        - declined
        - shipped
        - paid_out
        - late
        - complete
        - canceled
        - pre_approved
      example: created
    OrderDeclineReason:
      title: 'Order Decline Reason'
      type: string
      enum:
        - risk_policy
        - debtor_not_identified
        - debtor_address
        - debtor_limit_exceeded
      example: debtor_not_identified
    OrderDunningStatus:
      title: 'Order Dunning Status'
      type: string
      enum:
        - not_started
        - active
        - paused
        - inactive
      example: active
      nullable: true
    OrderDuration:
      title: 'Order Duration'
      type: integer
      maximum: 120
      minimum: 1
      example: 30
    PostalCode:
      title: 'Postal Code'
      type: string
      maxLength: 5
      example: '10969'
    CountryCode:
      title: 'Country Code'
      type: string
      maxLength: 2
      pattern: '^[A-Za-z]{2}$'
      example: DE
    IBAN:
      title: IBAN
      type: string
      maxLength: 22
      minLength: 22
      pattern: '^[A-Z]{2}(?:[ ]?[0-9]){18,20}$'
      example: DE61500105175136458915
    Date:
      title: Date
      type: string
      format: date
      example: '2019-01-20'
    DateTime:
      title: Date-Time
      type: string
      format: date-time
      example: '2019-01-20 14:00:00'
    TinyText:
      title: string
      type: string
      maxLength: 255
    Money:
      title: Money
      type: number
      format: float
      pattern: '^(\d{1,}(.\d{2})?)$'
      example: 99.95
    MerchantUserRoles:
      title: 'Merchant User Roles'
      type: string
      enum:
        - ROLE_VIEW_ORDERS
        - ROLE_VIEW_DEBTORS
        - ROLE_VIEW_PAYMENTS
        - ROLE_CONFIRM_ORDER_PAYMENT
        - ROLE_PAUSE_DUNNING
      example: ROLE_VIEW_ORDERS
    OauthClientCredentialsGrantRequestBodyParams:
      title: 'Request OAuth Token'
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          const: client_credentials
        client_id:
          $ref: '#/components/schemas/UUID'
        client_secret:
          type: string
      type: object
    OauthTokenResponseBody:
      title: 'Request Oauth Token Response'
      properties:
        token_type:
          type: string
          example: Bearer
          nullable: false
        expires_in:
          description: 'TTL of the access token in seconds (Default is 8 hours)'
          type: integer
          nullable: false
        access_token:
          description: 'JWT signed with the authorization server''s private key'
          type: string
          nullable: false
      type: object
    CreateOrderAddressRequest:
      title: Address
      required:
        - street
        - city
        - postal_code
        - country
      properties:
        addition:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        house_number:
          example: '4'
          nullable: true
          $ref: '#/components/schemas/TinyText'
        street:
          example: 'Charlotten Str.'
          $ref: '#/components/schemas/TinyText'
        city:
          example: Berlin
          $ref: '#/components/schemas/TinyText'
        postal_code:
          $ref: '#/components/schemas/PostalCode'
        country:
          $ref: '#/components/schemas/CountryCode'
      type: object
    GetMerchantUserResponse:
      title: 'Get Merchant User Response'
      properties:
        user_id:
          type: integer
          nullable: false
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/MerchantUserRoles'
          nullable: false
      type: object
    MerchantUserLoginRequest:
      title: 'Merchant User Login'
      properties:
        email:
          type: string
          format: email
          nullable: false
        password:
          type: string
          format: password
          nullable: false
      type: object
    MerchantUserLoginResponse:
      title: 'Merchant User Login Response'
      properties:
        user_id:
          type: integer
          nullable: false
        access_token:
          type: string
          example: l387435hzyoc0oo4kokow
          nullable: false
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/MerchantUserRoles'
          nullable: false
        merchant_name:
          type: string
          example: 'Billie GmbH'
          nullable: false
      type: object
    PauseOrderDunningRequest:
      title: 'Pause Order Dunning'
      properties:
        number_of_days:
          type: integer
          minimum: 1
          nullable: false
      type: object
    AbstractMerchantDebtorResponse:
      properties:
        id:
          description: 'Debtor UUID'
          $ref: '#/components/schemas/UUID'
        external_code:
          description: 'Merchant Customer ID'
          $ref: '#/components/schemas/TinyText'
        name:
          $ref: '#/components/schemas/TinyText'
        financing_limit:
          description: 'Full limit assigned to this merchant debtor.'
          type: number
          format: float
        financing_power:
          description: 'Current available limit for this merchant debtor.'
          type: number
          format: float
        bank_account_iban:
          $ref: '#/components/schemas/TinyText'
        bank_account_bic:
          $ref: '#/components/schemas/TinyText'
        created_at:
          $ref: '#/components/schemas/DateTime'
      type: object
    MerchantDebtorResponse:
      properties:
        address_street:
          $ref: '#/components/schemas/TinyText'
        address_house:
          nullable: true
          $ref: '#/components/schemas/TinyText'
        address_postal_code:
          $ref: '#/components/schemas/TinyText'
        address_city:
          $ref: '#/components/schemas/TinyText'
        address_country:
          $ref: '#/components/schemas/TinyText'
        outstanding_amount:
          type: number
          format: float
        outstanding_amount_created:
          type: number
          format: float
        outstanding_amount_late:
          type: number
          format: float
      type: object
      allOf:
        -
          $ref: '#/components/schemas/AbstractMerchantDebtorResponse'
    MerchantDebtorListResponse:
      properties:
        total:
          type: integer
          minimum: 0
        items:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/MerchantDebtorListItem'
      type: object
    MerchantDebtorListItem:
      title: 'Debtor Basic Info'
      allOf:
        -
          $ref: '#/components/schemas/AbstractMerchantDebtorResponse'
    OrderResponse:
      title: 'Order Entity'
      properties:
        order_id:
          type: string
          example: C-10123456789-0001
          nullable: true
        uuid:
          $ref: '#/components/schemas/UUID'
        state:
          example: created
          $ref: '#/components/schemas/OrderState'
        reasons:
          type: string
          enum:
            - risk_policy
            - debtor_not_identified
            - debtor_address
            - debtor_limit_exceeded
          nullable: true
          deprecated: true
        decline_reason:
          nullable: true
          $ref: '#/components/schemas/OrderDeclineReason'
        amount:
          type: number
          format: float
          example: 123.45
          nullable: false
        amount_tax:
          type: number
          format: float
          example: 123.45
          nullable: false
        amount_net:
          type: number
          format: float
          example: 123.45
          nullable: false
        duration:
          example: 30
          $ref: '#/components/schemas/OrderDuration'
        dunning_status:
          $ref: '#/components/schemas/OrderDunningStatus'
        debtor_company:
          description: 'Identified company'
          properties:
            name:
              example: 'Billie GmbH'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_house_number:
              example: '4'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_street:
              example: Charlottenstr.
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_postal_code:
              type: string
              maxLength: 5
              example: '10969'
              nullable: true
            address_city:
              example: Berlin
              nullable: true
              $ref: '#/components/schemas/TinyText'
            address_country:
              type: string
              maxLength: 2
              nullable: true
          type: object
        bank_account:
          properties:
            iban:
              description: 'Virtual IBAN provided by Billie'
              nullable: true
              $ref: '#/components/schemas/TinyText'
            bic:
              nullable: true
              $ref: '#/components/schemas/TinyText'
          type: object
        invoice:
          properties:
            invoice_number:
              nullable: true
              $ref: '#/components/schemas/TinyText'
            payout_amount:
              type: number
              format: float
              nullable: true
            outstanding_amount:
              type: number
              format: float
              nullable: true
            fee_amount:
              type: number
              format: float
              nullable: true
            fee_rate:
              type: number
              format: float
              nullable: true
            due_date:
              type: string
              format: date
              example: '2019-03-20'
              nullable: true
          type: object
        debtor_external_data:
          description: 'Data provided in the order creation'
          properties:
            merchant_customer_id:
              example: C-10123456789
              $ref: '#/components/schemas/TinyText'
            name:
              example: 'Billie G.m.b.H.'
              $ref: '#/components/schemas/TinyText'
            address_country:
              type: string
              maxLength: 2
              example: DE
            address_city:
              example: Berlin
              $ref: '#/components/schemas/TinyText'
            address_postal_code:
              type: string
              maxLength: 5
              example: '10969'
            address_street:
              example: 'Charlotten Straße'
              $ref: '#/components/schemas/TinyText'
            address_house:
              example: '4'
              $ref: '#/components/schemas/TinyText'
            industry_sector:
              nullable: true
              $ref: '#/components/schemas/TinyText'
          type: object
        delivery_address:
          type: object
          $ref: '#/components/schemas/CreateOrderAddressRequest'
        billing_address:
          type: object
          $ref: '#/components/schemas/CreateOrderAddressRequest'
        created_at:
          $ref: '#/components/schemas/DateTime'
        shipped_at:
          $ref: '#/components/schemas/DateTime'
      type: object
    ErrorsObject:
      title: 'API Errors'
      properties:
        errors:
          type: array
          items:
            required:
              - title
              - code
            properties:
              title:
                description: 'Error message'
                type: string
              code:
                description: 'Error code'
                type: string
                nullable: true
              source:
                description: 'Property path where the error occurred, if applicable'
                type: string
                nullable: true
            type: object
      type: object
    GetMerchantPaymentDetailsResponse:
      title: 'Merchant Payments Response'
      properties:
        uuid:
          $ref: '#/components/schemas/UUID'
        amount:
          $ref: '#/components/schemas/Money'
        transaction_date:
          $ref: '#/components/schemas/Date'
        is_allocated:
          type: boolean
        overpaid_amount:
          $ref: '#/components/schemas/Money'
        transaction_counterparty_iban:
          $ref: '#/components/schemas/IBAN'
        transaction_counterparty_name:
          type: string
        transaction_reference:
          type: string
        merchant_debtor_uuid:
          $ref: '#/components/schemas/UUID'
        orders:
          type: array
          items:
            properties:
              uuid:
                $ref: '#/components/schemas/UUID'
              amount:
                $ref: '#/components/schemas/Money'
              outstanding_amount:
                $ref: '#/components/schemas/Money'
              external_id:
                type: string
              invoice_number:
                type: string
            type: object
      type: object
    GetMerchantPaymentsResponse:
      title: 'Merchant Payments Response'
      properties:
        items:
          description: 'Merchant payment item'
          type: array
          items:
            properties:
              uuid:
                $ref: '#/components/schemas/UUID'
              amount:
                $ref: '#/components/schemas/Money'
              transaction_date:
                $ref: '#/components/schemas/Date'
              is_allocated:
                type: boolean
              transaction_counterparty_iban:
                $ref: '#/components/schemas/IBAN'
              transaction_counterparty_name:
                type: string
              transaction_reference:
                type: string
              merchant_debtor_uuid:
                $ref: '#/components/schemas/UUID'
            type: object
        total:
          description: 'Total number of results'
          type: integer
      type: object
  responses:
    ServerError:
      description: 'Unexpected Server Error'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    NotFound:
      description: 'Resource Not Found'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Unauthorized:
      description: 'Unauthorized request or invalid credentials'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    Forbidden:
      description: 'Forbidden Request. The operation cannot be completed.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
    BadRequest:
      description: 'Invalid Request Data'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsObject'
  securitySchemes:
    oauth2:
      type: oauth2
      description: |
        This authentication mechanism is based on the OAuth 2.0 prototocol and requires a Client ID, a Client Secret Key and
        in some cases also a user and password.
        
        With these credentials, the client should request a token using the `POST /api/v1/oauth/token` endpoint,
        which should be used in the `Authorization` header together with the `Bearer` challenge to authenticate all the requests.
        
        > Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c`.
      flows:
        password:
          tokenUrl: /oauth/token
          scopes:
            default: default
tags:
  -
    name: Authentication
    description: |
      For authentication and authorisation the API requires some requests to include valid API credentials via HTTP headers.
      Different keys are used for the `sandbox` and `production` environments, which are completely independent
      meaning that they cannot access or alter data from the other.
      
      To obtain your credentials for both environments please contact us or send an email to: pad@billie.io.
  -
    name: 'Order Management'
  -
    name: Payments
  -
    name: Debtors
