config/secrets
*.html
*.zip
*.tar.gz

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

/config/secrets/
/config/packages/local/
/config/*_local.yaml
/config/*_local.yml

/.php_cs.cache

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpspec/phpspec ###
phpspec.yml
###< phpspec/phpspec ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> graphql PHPStorm plugin ###
.graphqlconfig
schema.graphql
###< graphql PHPStorm plugin ###
