config/secrets

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

/config/secrets/

/.php_cs.cache
