config/secrets
*.html
*.zip
*.tar.gz

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

/config/secrets/
/config/packages/local/
/config/*_local.yaml
/config/*_local.yml

/.php_cs.cache

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpspec/phpspec ###
phpspec.yml
###< phpspec/phpspec ###
