default:
  autoload:
    '': '%paths.base%/bdd/features/bootstrap'

  suites:
    default:
      paths: [ '%paths.base%/bdd/features' ]
      contexts:
        - behatch:context:rest
        - json_spec
        - App\Tests\Functional\Context\MockServerContext
        - App\Tests\Functional\Context\GraphQLContext
        - App\Tests\Functional\Context\PaellaCoreContext:
            kernel: '@kernel'
            connection: '@billie_pdo.default_connection'
        - App\Tests\Functional\Context\PaymentsServiceContext
        - App\Tests\Functional\Context\CompaniesServiceContext
        - App\Tests\Functional\Context\OAuthServiceContext
        - App\Tests\Functional\Context\SalesforceContext
        - App\Tests\Functional\Context\LimitServiceContext
        - App\Tests\Functional\Context\SandboxServiceContext
        - App\Tests\Functional\Context\WebappServiceContext
        - App\Tests\Functional\Context\BicLookupServiceContext
        - App\Tests\Functional\Context\DocumentGeneratorContext
        - App\Tests\Functional\Context\NachosContext
        - App\Tests\Functional\Context\ScoringServiceContext
        - App\Tests\Functional\Context\FraudServiceContext
        - App\Tests\Functional\Context\MessengerContext:
            kernel: '@kernel'
            amqpMapper: '@Ozean12\AmqpPackBundle\Mapping\AmqpMapperInterface'
            changeRequestDecisionIssuesHandler: '@App\Amqp\Handler\CompanyInformationChangeRequestDecisionIssuedHandler'
            identityVerificationSucceededHandler: '@App\Amqp\Handler\IdentityVerificationSucceededHandler'
        - App\Tests\Functional\Context\RepositoryIntegrationContext:
            kernel: '@kernel'

  extensions:
    Behatch\Extension: ~
    JsonSpec\Behat\Extension:
      excluded_keys: [id, uuid, created_at, updated_at, shipped_at, invitation_token, api_key, payment_merchant_id, investor_uuid, company_uuid]
    Behat\MinkExtension:
      base_url: 'http://paella-behat' # Fake URL (see HttpKernelBrowser usage in PaellaCoreContext)
      goutte: ~
      files_path: "%paths.base%/bdd/features/resources/dummies/"
    Behat\Symfony2Extension:
      kernel:
        bootstrap: bdd/features/bootstrap/bootstrap.php
        class: App\Kernel
