default:
  autoload:
    '': '%paths.base%/bdd/features/bootstrap'

  suites:
    default:
      paths: [ '%paths.base%/bdd/features' ]
      contexts:
        - behatch:context:rest
        - json_spec
        - PaellaCoreContext:
            kernel: '@kernel'
            connection: '@billie_pdo.default_connection'
        - PaymentsServiceContext
        - CompaniesServiceContext
        - OAuthServiceContext
        - SalesforceContext
        - CustomRestContext
        - LimitServiceContext

  extensions:
    Behatch\Extension: ~
    JsonSpec\Behat\Extension:
      excluded_keys: [id, uuid, created_at, updated_at, shipped_at, invitation_token, api_key, payment_merchant_id]
    Behat\MinkExtension:
      base_url: 'http://paella-core.dev.ozean12.com' # URL for provisioner
      # base_url: 'http://paella-core.billie.local' # URL for the paella-pan project
      goutte: ~
    Behat\Symfony2Extension:
      kernel:
        bootstrap: bdd/features/bootstrap/bootstrap.php
        class: App\Kernel
